<h2 mat-dialog-title>Estado de P y G</h2>
<mat-dialog-content>
  <div class="buttons-container">
    <button
      mat-raised-button 
      class="button"
      (click)="unitsPdf()"
    >
      <mat-icon>picture_as_pdf</mat-icon>
      <span class="button-text">Unidades</span>
    </button>
    <button
      mat-raised-button 
      class="button"
      (click)="generalPdf()"
    >
      <mat-icon>picture_as_pdf</mat-icon>
      <span class="button-text">Generales</span>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cerrar</button>
</mat-dialog-actions>