/venv
__pycache__/
.env
output.html
output2.html
output3.html
estado-vehiculos-resumen-empresa.pdf
estado-vehiculos-resumen.pdf
estado-vehiculos-numeros.pdf
informe-cuotas-pagas.pdf
informe-estados-detallado-empresa.pdf
informe-estados-detallado.pdf
relacion-vehiculos-propietario.pdf
relacion-vehiculos-empresa.pdf
relacion-vehiculos-estados.pdf
propietarios-detalles.pdf
vehiculos-detalles.pdf
Conductores-detalles.pdf
valor-compra-vehiculos.pdf
renderfooter.html
renderfooter1.html
renderheader.html
renderheader1.html
renderform1.html
renderform2.html
renderInformeCuotas.html
renderRelacionVehiculos.html
renderDirectorioPropietarios.html
renderDirectorioConductores.html
renderDirectorioVehiculos.html
renderValorCompraVehiculos.html
relacion-piezas.pdf
relacion-ingresos.pdf
estado-perdidas-ganancias.pdf