.main-container {
  min-height: 92vh;
  padding: 2vh 20px 20px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.title-container h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.subtitle {
  margin: 5px 0 0 0;
  font-size: 1rem;
  color: #666;
}

.inputs-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
}

.search-field {
  width: 60%;
}

.filter-field {
  width: 15%;
}

.field-input {
  height: 70px;
}

::ng-deep .field-input .mat-mdc-form-field-flex {
  height: 100%;
  align-items: center;
}

::ng-deep .field-input .mat-mdc-icon-button {
  transform: scale(1);
}

::ng-deep .inputs-container .mat-mdc-text-field-wrapper {
  height: 46px !important;
}

.directory-button {
  background-color: white !important;
  color: #333;
  font-weight: 500;
  height: 46px;
  width: 100%;
  border: 1px solid #e0e0e0;
}

/* Table Styles */
.mat-elevation-z8 {
  margin: 0px 22px 22px 22px;
}

.table-scroll-container {
  overflow-x: auto;
  position: relative;
}

table {
  width: 100%;
}

th {
  padding: 0;
  white-space: nowrap;
}

th.mat-sort-header .mat-sort-header-container {
  justify-content: center;
}

td {
  padding: 0 8px;
  white-space: nowrap;
}

th:first-child,
td:first-child {
  padding-left: 20px;
}

th:last-child,
td:last-child {
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .search-field {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .inputs-container {
    flex-direction: column;
    align-items: center;
  }

  .search-field {
    width: 100%;
  }

  .filter-field {
    width: 100%;
  }

  .mat-elevation-z8 {
    margin: 0px 0px;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-container {
    padding: 2vh 20px;
  }
}
