.modal {
  overflow: auto;
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 6% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.close {
  margin-bottom: 0;
  color: #aaa;
  /* float: right; */
  display: flex;
  font-size: 28px;
  font-weight: bold;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.options-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.option {
  width: 40vh;
  height: 7vh;
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 16px;
  position: relative;  /* Permite posicionamiento absoluto de elementos hijos */
}

.option span.material-symbols-outlined {
  margin-right: auto;  /* Empuja el icono a la izquierda */
  font-size: 3.5vh;
}

.option-text {
  flex-grow: 1;
  text-align: center;  /* Asegura que el texto esté centrado */
}

.option:hover {
  background: #bcd1ec;
}

.select-owner {
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.full-width {
  width: 100%; /* Asegura que el <select> ocupe todo el ancho del contenedor */
  padding: 10px; /* Ajuste de padding para mejor apariencia */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  border: 1px solid #ccc; /* Borde ligero para mejor visibilidad */
  border-radius: 5px; /* Bordes ligeramente redondeados */
  background-color: #f9f9f9; /* Fondo claro */
}

.cuadro-seleccion {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 20vh;
  max-height: 25vh;
  border-radius: 10px;
  overflow-y: scroll;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cuadro-seleccion .checkbox-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start; /* Alinea el contenido al inicio (izquierda) */
  padding: 5px 0; /* Añadir algo de espaciado vertical */
}

.cuadro-seleccion .checkbox-container:hover {
  background: #bcd1ec;
}

.cuadro-seleccion label {
  padding-left: 5px;
}

.back-option {
  display: flex;
  justify-content: center;
}

.back {
  background: #ffe9e9;
}

.back:hover {
  background: #ffcdcd; 
}