.modal {
  overflow: auto;
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
  border-radius: 10px;
  text-align: center;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.title-container {
  font-size: 25px;
}

.sub-options-display-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.display-info-container {
  border-radius: 10px;
  border: 1px solid #aaa;
  width: 45%;
  height: 100%;
}

.subtitle-container {
  font-size: 20px;
}

.p-container {
  font-size: 18px;
}

.close {
  margin-bottom: 0;
  color: #aaa;
  /* float: right; */
  display: flex;
  font-size: 28px;
  font-weight: bold;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  margin: 10px;
}

.input-group label {
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.input-group input, .input-group select {
  padding: 8px;
  background: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: rgb(75, 75, 75);
  font-size: 13px;
}

.input-group input:enabled, .input-group select:enabled {
  background: #ffffff;
  color: black;
}

.info-container {
  background-color: #eaeaea;
  border-radius: 10px;
  border: 1px solid #888;
  padding: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.text-info-container {
  display: flex;
  width: 100%;
}

.text-info-container h4, .text-info-container p{
  margin: 0;
  /* font-size: 14px; */
  text-align: left;
  padding: 5px;
}

.text-info-container h4 {
  font-weight: bold;
  margin-left: 5px;
}

.text-info-container p {
  padding-left: 0px;
}

.options-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.option {
  width: 40vh;
  height: 7vh;
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 16px;
  position: relative;  /* Permite posicionamiento absoluto de elementos hijos */
}

.option span.material-symbols-outlined {
  margin-right: auto;  /* Empuja el icono a la izquierda */
  font-size: 3.5vh;
}

.option-text {
  flex-grow: 1;
  text-align: center;  /* Asegura que el texto esté centrado */
}

.option:hover {
  background: #bcd1ec;
}

.option:disabled {
  background: #e0e0e0;
  color: #888;
  cursor: not-allowed;
  border-color: #aaa;
}

.back {
  background: #ffe9e9;
}

.back:hover {
  background: #ffcdcd; 
}

@media (max-width: 1024px) {
  .modal-content {
    width: 80%;
  }

  .title-container {
    font-size: 25px;
  }

  .subtitle-container {
    font-size: 22px;
  }

  .p-container {
    font-size: 20px;
  }

  .sub-options-display-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .display-info-container {
    width: 95%;
    margin-bottom: 15px;
  }

}

@media (max-width: 768px) {
  .modal-content {
    width: 80%;
  }

  .title-container {
    font-size: 25px;
  }

  .subtitle-container {
    font-size: 22px;
  }

  .p-container {
    font-size: 20px;
  }

  .sub-options-display-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .display-info-container {
    width: 95%;
    margin-bottom: 15px;
  }

}

@media (max-width: 480px) {
  .title-container {
    font-size: 20px;
  }

  .subtitle-container {
    font-size: 18px;
  }

  .p-container {
    font-size: 16px;
  }

  .input-group label {
    padding-right: 8px;
    font-size: 12px;
  }
  

  .input-group input, .input-group select {
    font-size: 11px;
    padding: 6px;
  }

  .info-container h4 {
    font-size: 14px;
  }
}