.container {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vh 5vh 0vh 5vh;
  user-select: none;
}

.sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.two-container .section-container{
  width: 100%;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%; 
}

.options-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.option {
  width: 90%;
  height: 7vh;
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 16px;
  position: relative;  /* Permite posicionamiento absoluto de elementos hijos */
}

.option span.material-symbols-outlined {
  margin-right: auto;  /* Empuja el icono a la izquierda */
  font-size: 3.5vh;
}

.option-text {
  flex-grow: 1;
  text-align: center;  /* Asegura que el texto esté centrado */
}

.option:hover {
  background: #bcd1ec;
}
