.main-container {
  min-height: 90vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  user-select: none;
}

.title-container {
  margin-bottom: 0;
}

.options-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.search-container {
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.report {
  width: 20%;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
}

.report:hover {
  background: #bcd1ec;
}

.report-text {
  font-size: 15px;
  color: #333;
}

.table-container {
  margin: 20px auto;
  padding: 10px;
  width: 96%;
  overflow-x: auto;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures table respects column width */
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  word-wrap: break-word;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
  font-size: 1.9vh;
}

td {
  font-size: 1.8vh;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.col-campo1 {
  width: 6%;
}

.col-campo2 {
  width: 5.5%
}

.col-campo3 {
  width: 3.5%;
}

.col-campo4 {
  width: 6%;
}

.col-campo5 {
  width: 6.5%;
}

.col-campo6, .col-campo7 {
  width: 9.5%;
}

.col-campo8 {
  width: 8.5%;
}

.col-campo9 {
  width: 8%;
}

.col-campo10 {
  width: 9%;
}

.col-campo11 {
  width: 10%;
} 

.col-campo12 {
  width: 3%;
}

.col-campo13 {
  width: 3.5%;
}

.col-campo14, .col-campo15, .col-campo16 {
  width: 5%;
}

/* @media (max-width: 768px) {
  th, td {
    padding: 6px;
    font-size: x-small;
  }
} */
