<!-- <app-header></app-header> -->

<div class="main-container">
  <h1 class="title-container">VEHÍCULO</h1>

  <div class="buttons-container" *ngIf="isLoading">

    <button class="select back" type="button" routerLink="/vehicles">
      <span class="material-symbols-outlined" translate="no">
        arrow_back
      </span>
      <p class="select-text">Regresar</p>
    </button>

    <button class="select" type="button" (click)="goToVehicleOwnership()" [ngClass]="{'selected': selectedButton === 'propiedad'}">
      <span class="material-symbols-outlined" translate="no">
        badge
      </span>
      <p class="select-text">Tarjeta Propiedad</p>
    </button>

    <button class="select" type="button" (click)="goToVehicleDocuments()" [ngClass]="{'selected': selectedButton === 'documentos'}">
      <span class="material-symbols-outlined" translate="no">
        description
      </span>
      <p class="select-text">Documentos</p>
    </button>

    <!-- <button class="select" type="button" (click)="goToVehicleDrivers()" [ngClass]="{'selected': selectedButton === 'conductores'}">
      <span class="material-symbols-outlined" translate="no">
        id_card
      </span>
      <p class="select-text">Conductores</p>
    </button>

    <button class="select" type="button" (click)="goToVehicleIncome()" [ngClass]="{'selected': selectedButton === 'ingresos'}">
      <span class="material-symbols-outlined" translate="no">
        payments
      </span>
      <p class="select-text">Ingresos</p>
    </button>

    <button class="select" type="button" (click)="goToVehicleOrders()" [ngClass]="{'selected': selectedButton === 'ordenes'}">
      <span class="material-symbols-outlined">
        receipt_long
      </span>
      <p class="select-text">Ordenes</p>
    </button>

    <button class="select" type="button" (click)="goToVehicleTools()" [ngClass]="{'selected': selectedButton === 'herramientas'}">
      <span class="material-symbols-outlined" translate="no">
        handyman
      </span>
      <p class="select-text">Herramientas</p>
    </button>

    <button class="select" type="button" (click)="goToVehiclePhotos()" [ngClass]="{'selected': selectedButton === 'fotos'}">
      <span class="material-symbols-outlined" translate="no">
        image
      </span>
      <p class="select-text">Fotos</p>
    </button>

    <button class="select" type="button" (click)="goToVehicleDocumentation()" [ngClass]="{'selected': selectedButton === 'documentacion'}">
      <span class="material-symbols-outlined" translate="no">
        file_copy
      </span>
      <p class="select-text">Documentación</p>
    </button>

    <button class="select" type="button" (click)="goToVehiclePyG()" [ngClass]="{'selected': selectedButton === 'pyg'}">
      <span class="material-symbols-outlined" translate="no">
        request_quote
      </span>
      <p class="select-text">P y G</p>
    </button> -->

  </div>

  <hr class="external">

  <!-- INPUTS PERSONALES -->
  <!-- -------------------------------------------------------------------------------------- -->
  <form [formGroup]="vehicleForm" (ngSubmit)="saveData()" *ngIf="isLoading">
    <div class="first-info">
      <div class="info-code-container">
        <div class="div-group all-size">
          <div class="code-container gray-background">
            <div class="form-group">
              <label class="all-size" for="vehiculo_placa">PLACA N°:</label>
              <input class="all-size" type="text" id="vehiculo_placa" formControlName="vehiculo_placa"><br>
            </div>
    
            <div class="form-group">
              <label class="all-size" for="vehiculo_numero">UNIDAD N°:</label>
              <input class="all-size" type="text" id="vehiculo_numero" formControlName="vehiculo_numero"><br>
            </div>
        
            <div class="form-group">
              <label class="all-size" for="vehiculo_consecutivo">CONSECUTIVO:</label>
              <input class="all-size" type="number" id="vehiculo_consecutivo" name="vehiculo_consecutivo" disabled><br>
            </div>
          </div>
    
          <div class="media-container">
            <img class="photo-container" [src]="this.imageVehicle">
          </div>
        </div>
    
      </div>

      <div class="last-first-information">
        <div class="form-group">
          <label class="medium" for="fec_creacion">Fecha Creación:</label><br>
          <input class="all-size" type="text" id="fec_creacion" name="fec_creacion" disabled><br>
        </div>
      </div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_placa')?.invalid && (vehicleForm.get('vehiculo_placa')?.dirty || vehicleForm.get('vehiculo_placa')?.touched)" class="validators">
      <div *ngIf="vehicleForm.get('vehiculo_placa')?.errors?.['required']"><p>- Placa N° es requerido.</p></div>
      <div *ngIf="vehicleForm.get('vehiculo_placa')?.errors?.['maxlength']"><p>- Placa N° no puede exceder 8 caracteres.</p></div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_numero')?.invalid && (vehicleForm.get('vehiculo_numero')?.dirty || vehicleForm.get('vehiculo_numero')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_numero')?.errors?.['required']"><p>- Unidad N° es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_numero')?.errors?.['maxlength']"><p>- Unidad N° no puede exceder 8 caracteres.</p></div>
    </div>

    <hr class="external">

    <div class="info-container">

      <div class="div-group">
        <div class="group-inputs">
          <div class="form-group">
            <label for="marca">Marca:</label><br>
            <select class="all-size" id="marca" formControlName="vehiculo_marca">
              <option *ngFor="let brand of brands" [value]="brand.codigo">{{ brand.codigo }} - {{ brand.nombre }}</option>
            </select><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_modelo">Modelo:</label><br>
            <input class="all-size" type="text" id="vehiculo_modelo" formControlName="vehiculo_modelo"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_fec_modelo">Año:</label><br>
            <input class="all-size" type="number" id="vehiculo_fec_modelo" formControlName="vehiculo_fec_modelo" min="1900" max="2100"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_cilindraje">Cilindraje CC:</label><br>
            <input class="all-size" type="text" id="vehiculo_cilindraje" formControlName="vehiculo_cilindraje"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_nro_puertas">N° Puertas:</label><br>
            <input class="all-size" type="number" id="vehiculo_nro_puertas" formControlName="vehiculo_nro_puertas"><br>
          </div>
        </div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_modelo')?.invalid && (vehicleForm.get('vehiculo_modelo')?.dirty || vehicleForm.get('vehiculo_modelo')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_modelo')?.errors?.['required']"><p>- Modelo es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_modelo')?.errors?.['maxlength']"><p>- Modelo no puede exceder 25 caracteres.</p></div>
      </div>
  
      <div *ngIf="vehicleForm.get('vehiculo_fec_modelo')?.invalid && (vehicleForm.get('vehiculo_fec_modelo')?.dirty || vehicleForm.get('vehiculo_fec_modelo')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_fec_modelo')?.errors?.['required']"><p>- Año es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_fec_modelo')?.errors?.['min']"><p>- Año no puede ser menor a 1900.</p></div>
        <div *ngIf="vehicleForm.get('vehiculo_fec_modelo')?.errors?.['max']"><p>- Año no puede ser mayor a 2100.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_cilindraje')?.invalid && (vehicleForm.get('vehiculo_cilindraje')?.dirty || vehicleForm.get('vehiculo_cilindraje')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_cilindraje')?.errors?.['required']"><p>- Cilindraje es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_cilindraje')?.errors?.['maxlength']"><p>- Cilindraje no puede exceder 4 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_nro_puertas')?.invalid && (vehicleForm.get('vehiculo_nro_puertas')?.dirty || vehicleForm.get('vehiculo_nro_puertas')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_nro_puertas')?.errors?.['required']"><p>- Código es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_nro_puertas')?.errors?.['pattern']"><p>- N° Puertas no puede exceder 1 caracter.</p></div>
      </div>
      

      <hr>
      <!-- SIGUIENTE RENGLÓN -->

      <div class="div-group">
        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_licencia_nro">Licencia Transito N°:</label><br>
            <input class="all-size" type="text" id="vehiculo_licencia_nro" formControlName="vehiculo_licencia_nro"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="fec_licencia">Fecha Lic:</label><br>
            <input class="all-size" type="date" id="fec_licencia" formControlName="vehiculo_licencia_fec"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_color">Color:</label><br>
            <input class="all-size" type="text" id="vehiculo_color" formControlName="vehiculo_color"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="servicio">Servicio:</label><br>
            <input class="all-size" type="text" id="servicio" formControlName="vehiculo_servicio"><br>
          </div>
        </div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_licencia_nro')?.invalid && (vehicleForm.get('vehiculo_licencia_nro')?.dirty || vehicleForm.get('vehiculo_licencia_nro')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_licencia_nro')?.errors?.['required']"><p>- Licencia Transito N° es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_licencia_nro')?.errors?.['maxlength']"><p>- Licencia Transito N° no puede exceder 20 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_color')?.invalid && (vehicleForm.get('vehiculo_color')?.dirty || vehicleForm.get('vehiculo_color')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_color')?.errors?.['required']"><p>- Color es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_color')?.errors?.['maxlength']"><p>- Color no puede exceder 20 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_servicio')?.invalid && (vehicleForm.get('vehiculo_servicio')?.dirty || vehicleForm.get('vehiculo_servicio')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_servicio')?.errors?.['required']"><p>- Servicio es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_servicio')?.errors?.['maxlength']"><p>- Servicio no puede exceder 30 caracteres.</p></div>
      </div>

      <hr>
      <!-- SIGUIENTE RENGLÓN -->
      <div class="div-group">
        <div class="group-inputs">
          <div class="form-group">
            <label for="fec_matricula">Fecha de la Matricula:</label><br>
            <input class="all-size" type="date" id="fec_matricula" formControlName="vehiculo_fec_matricula"><br>
          </div>

          <div class="form-group">
            <label for="vehiculo_clase">Clase de Vehículo:</label><br>
            <input class="all-size" type="text" id="vehiculo_clase" formControlName="vehiculo_clase"><br>
          </div>

          <div class="form-group">
            <label for="vehiculo_capacidad">Capacidad Kg/Pasag:</label><br>
            <input class="all-size" type="number" id="vehiculo_capacidad" formControlName="vehiculo_capacidad"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="fec_vencimiento">Fecha de Vencimiento:</label><br>
            <input class="all-size" type="date" id="fec_vencimiento" formControlName="vehiculo_fec_vencimiento_matricula"><br>
          </div>

          <div class="form-group">
            <label for="vehiculo_tipo">Tipo de Carroceria:</label><br>
            <input class="all-size" type="text" id="vehiculo_tipo" formControlName="vehiculo_tipo"><br>
          </div>

          <div class="form-group">
            <label for="vehiculo_ne">Ne:</label><br>
            <input class="all-size" type="text" id="vehiculo_ne" formControlName="vehiculo_ne"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="fec_importacion">Fecha de Importación:</label><br>
            <input class="all-size" type="date" id="fec_importacion" formControlName="vehiculo_fec_importacion"><br>
          </div>
          
          <div class="form-group">
            <label for="vehiculo_combustible">Combustible:</label><br>
            <input class="all-size" type="text" id="vehiculo_combustible" formControlName="vehiculo_combustible"><br>
          </div>

          <div class="form-group">
            <label for="vehiculo_vin">V.I.N:</label><br>
            <input class="all-size" type="text" id="vehiculo_vin" formControlName="vehiculo_vin"><br>
          </div>
        </div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_clase')?.invalid && (vehicleForm.get('vehiculo_clase')?.dirty || vehicleForm.get('vehiculo_clase')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_clase')?.errors?.['required']"><p>- Clase de Vehículo es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_clase')?.errors?.['maxlength']"><p>- Clase de Vehículo no puede exceder 30 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_capacidad')?.invalid && (vehicleForm.get('vehiculo_capacidad')?.dirty || vehicleForm.get('vehiculo_capacidad')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_capacidad')?.errors?.['required']"><p>- Capacidad es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_capacidad')?.errors?.['pattern']"><p>- Capacidad no puede exceder 8 caracteres</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_tipo')?.invalid && (vehicleForm.get('vehiculo_tipo')?.dirty || vehicleForm.get('vehiculo_tipo')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_tipo')?.errors?.['required']"><p>- Tipo de carrocería es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_tipo')?.errors?.['maxlength']"><p>- Tipo de carrocería no puede exceder 30 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_ne')?.invalid && (vehicleForm.get('vehiculo_ne')?.dirty || vehicleForm.get('vehiculo_ne')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_ne')?.errors?.['required']"><p>- Ne es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_ne')?.errors?.['maxlength']"><p>- Ne no puede exceder 3 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_combustible')?.invalid && (vehicleForm.get('vehiculo_combustible')?.dirty || vehicleForm.get('vehiculo_combustible')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_combustible')?.errors?.['required']"><p>- Combustible es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_combustible')?.errors?.['maxlength']"><p>- Combustible no puede exceder 20 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_vin')?.invalid && (vehicleForm.get('vehiculo_vin')?.dirty || vehicleForm.get('vehiculo_vin')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_vin')?.errors?.['required']"><p>- V.I.N es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_vin')?.errors?.['maxlength']"><p>- V.I.N no puede exceder 20 caracteres.</p></div>
      </div>

      <hr class="internal-forms">

      <!-- SIGUIENTE RENGLÓN -->

      <div class="div-group">
        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_motor">N° Motor:</label><br>
            <input class="all-size" type="text" id="vehiculo_motor" formControlName="vehiculo_motor"><br>
          </div>

          <div class="form-group">
            <label for="vehiculo_serie">N° Serie:</label><br>
            <input class="all-size" type="text" id="vehiculo_serie" formControlName="vehiculo_serie"><br>
          </div>

          <div class="form-group">
            <label for="vehiculo_chasis">N° Chasis:</label><br>
            <input class="all-size" type="text" id="vehiculo_chasis" formControlName="vehiculo_chasis"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_motor_reg">Reg:</label><br>
            <input class="all-size" type="text" id="vehiculo_motor_reg" formControlName="vehiculo_motor_reg"><br>
          </div>

          <div class="form-group">
            <label for="vehiculo_serie_reg">Reg:</label><br>
            <input class="all-size" type="text" id="vehiculo_serie_reg" formControlName="vehiculo_serie_reg"><br>
          </div>

          <div class="form-group">
            <label for="vehiculo_chasis_reg">Reg:</label><br>
            <input class="all-size" type="text" id="vehiculo_chasis_reg" formControlName="vehiculo_chasis_reg"><br>
          </div>
        </div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_motor')?.invalid && (vehicleForm.get('vehiculo_motor')?.dirty || vehicleForm.get('vehiculo_motor')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_motor')?.errors?.['required']"><p>- N° Motor es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_motor')?.errors?.['maxlength']"><p>- N° Motor no puede exceder 20 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_serie')?.invalid && (vehicleForm.get('vehiculo_serie')?.dirty || vehicleForm.get('vehiculo_serie')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_serie')?.errors?.['required']"><p>- N° Serie es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_serie')?.errors?.['maxlength']"><p>- N° Serie no puede exceder 20 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_chasis')?.invalid && (vehicleForm.get('vehiculo_chasis')?.dirty || vehicleForm.get('vehiculo_chasis')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_chasis')?.errors?.['required']"><p>- N° Chasis es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_chasis')?.errors?.['maxlength']"><p>- N° Chasis no puede exceder 20 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_motor_reg')?.invalid && (vehicleForm.get('vehiculo_motor_reg')?.dirty || vehicleForm.get('vehiculo_motor_reg')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_motor_reg')?.errors?.['required']"><p>- Reg del N° Motor es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_motor_reg')?.errors?.['maxlength']"><p>- Reg del N° Motor no puede exceder 3 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_serie_reg')?.invalid && (vehicleForm.get('vehiculo_serie_reg')?.dirty || vehicleForm.get('vehiculo_serie_reg')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_serie_reg')?.errors?.['required']"><p>- Reg del N° Serie es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_serie_reg')?.errors?.['maxlength']"><p>- Reg del N° Serie no puede exceder 3 caracteres.</p></div>
      </div>

      <div *ngIf="vehicleForm.get('vehiculo_chasis_reg')?.invalid && (vehicleForm.get('vehiculo_chasis_reg')?.dirty || vehicleForm.get('vehiculo_chasis_reg')?.touched)" class="validators">
        <!-- <div *ngIf="vehicleForm.get('vehiculo_chasis_reg')?.errors?.['required']"><p>- Reg del N° Chasis es requerido.</p></div> -->
        <div *ngIf="vehicleForm.get('vehiculo_chasis_reg')?.errors?.['maxlength']"><p>- Reg del N° Chasis no puede exceder 3 caracteres.</p></div>
      </div>

      <hr class="internal-forms">

      <!-- SIGUIENTE RENGLÓN -->
      <div class="div-group">
        <div class="group-inputs">
          <div class="form-group">
            <label for="propietario">Propietario:</label><br>
            <select class="all-size" id="propietario" formControlName="vehiculo_propietario">
              <option [value]="" selected> - </option>
              <option *ngFor="let owner of owners" [value]="owner.id">{{ owner.id }} - {{ owner.name }}</option>
            </select><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="cta_gasto">Cta Gasto:</label><br>
            <select class="all-size" id="cta_gasto" formControlName="vehiculo_cta_gasto">
              <option [value]="" selected> - </option>
              <option *ngFor="let expenseAccount of expenseAccounts" [value]="expenseAccount.codigo">{{ expenseAccount.codigo }} - {{ expenseAccount.nombre }}</option>
            </select><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="central">Central:</label><br>
            <select class="all-size" id="central" formControlName="vehiculo_central">
              <option *ngFor="let central of central" [value]="central.codigo">{{ central.codigo }} - {{ central.nombre }}</option>
            </select><br>
          </div>
        </div>
      </div>
      
    </div>

    <hr class="external">

    <div class="info-container padding-bottom">
      <div class="div-group gray-background">
        <div class="group-inputs">
          <div class="title-container">
            <h3>CUPO N° o Certificado de Operación:</h3>
          </div>

          <div class="form-group">
            <input class="all-size" type="text" id="vehiculo_nro_cupo" formControlName="vehiculo_nro_cupo"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="title-container">
            <h3>PERMISO N°:</h3>
          </div>

          <div class="form-group">
            <input class="all-size" type="text" id="vehiculo_permiso_nro" formControlName="vehiculo_permiso_nro"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="title-container">
            <h3>Vence Permiso:</h3>
          </div>

          <div class="form-group">
            <input class="all-size" type="date" id="vehiculo_fec_vencimiento_permiso" formControlName="vehiculo_fec_vencimiento_permiso"><br>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_nro_cupo')?.invalid && (vehicleForm.get('vehiculo_nro_cupo')?.dirty || vehicleForm.get('vehiculo_nro_cupo')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_nro_cupo')?.errors?.['required']"><p>- Cupo N° es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_nro_cupo')?.errors?.['maxlength']"><p>- Cupo N° no puede exceder 12 caracteres.</p></div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_permiso_nro')?.invalid && (vehicleForm.get('vehiculo_permiso_nro')?.dirty || vehicleForm.get('vehiculo_permiso_nro')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_permiso_nro')?.errors?.['required']"><p>- Permiso N° es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_permiso_nro')?.errors?.['maxlength']"><p>- Permiso N° no puede exceder 12 caracteres.</p></div>
    </div>

    <!-- -------------------------------------------------------------------------------------- -->

    <hr class="external">

    <div class="info-container">
      <div class="div-group">
        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_blindaje">Blindaje:</label><br>
            <input class="all-size" type="text" id="vehiculo_blindaje" formControlName="vehiculo_blindaje"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_potencia">Potencia HP:</label><br>
            <input class="all-size" type="text" id="vehiculo_potencia" formControlName="vehiculo_potencia"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_dec_importacion">Declaración Importación:</label><br>
            <input class="all-size" type="text" id="vehiculo_dec_importacion" formControlName="vehiculo_dec_importacion"><br>
          </div>
        </div>
      </div>

      <div class="last-first-information">
        <div class="form-group">
          <label for="vehiculo_restriccion_movilidad">Restricción de Movilidad:</label><br>
          <input class="all-size" type="text" id="vehiculo_restriccion_movilidad" formControlName="vehiculo_restriccion_movilidad"><br>
        </div>
      </div>

      <div class="last-first-information">
        <div class="form-group">
          <label for="vehiculo_limit_propiedad">Limitación a la Propiedad:</label><br>
          <input class="all-size" type="text" id="vehiculo_limit_propiedad" formControlName="vehiculo_limit_propiedad"><br>
        </div>
      </div>

      <div class="last-first-information">
        <div class="form-group">
          <label for="vehiculo_organismo_transito">Organismo de Transito:</label><br>
          <input class="all-size" type="text" id="vehiculo_organismo_transito" formControlName="vehiculo_organismo_transito"><br>
        </div>
      </div>

      <div class="div-group">
        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_codigo_barras">Código Barras:</label><br>
            <input class="all-size" type="text" id="vehiculo_codigo_barras" formControlName="vehiculo_codigo_barras"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_lateral">Lateral:</label><br>
            <input class="all-size" type="text" id="vehiculo_lateral" formControlName="vehiculo_lateral"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_kilometraje">Kilometraje:</label><br>
            <input class="all-size" type="int" id="vehiculo_kilometraje" formControlName="vehiculo_kilometraje"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="form-group">
            <label for="vehiculo_modalidad">Modalidad:</label><br>
            <select class="all-size" id="vehiculo_modalidad" formControlName="vehiculo_modalidad">
              <option [value]="" selected> - </option>
              <option *ngFor="let modality of modalities" [value]="modality.codigo">{{ modality.codigo }} - {{ modality.nombre }}</option>
            </select><br>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_blindaje')?.invalid && (vehicleForm.get('vehiculo_blindaje')?.dirty || vehicleForm.get('vehiculo_blindaje')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_blindaje')?.errors?.['required']"><p>- Blindaje es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_blindaje')?.errors?.['maxlength']"><p>- Blindaje no puede exceder 15 caracteres.</p></div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_potencia')?.invalid && (vehicleForm.get('vehiculo_potencia')?.dirty || vehicleForm.get('vehiculo_potencia')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_potencia')?.errors?.['required']"><p>- Potencia HP es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_potencia')?.errors?.['maxlength']"><p>- Potencia HP no puede exceder 6 caracteres.</p></div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_dec_importacion')?.invalid && (vehicleForm.get('vehiculo_dec_importacion')?.dirty || vehicleForm.get('vehiculo_dec_importacion')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_dec_importacion')?.errors?.['required']"><p>- Declaración Importación es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_dec_importacion')?.errors?.['maxlength']"><p>- Declaración Importación no puede exceder 20 caracteres.</p></div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_limit_propiedad')?.invalid && (vehicleForm.get('vehiculo_limit_propiedad')?.dirty || vehicleForm.get('vehiculo_limit_propiedad')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_limit_propiedad')?.errors?.['required']"><p>- Limitación de Propiedad es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_limit_propiedad')?.errors?.['maxlength']"><p>- Limitación de Propiedad no puede exceder 80 caracteres.</p></div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_organismo_transito')?.invalid && (vehicleForm.get('vehiculo_organismo_transito')?.dirty || vehicleForm.get('vehiculo_organismo_transito')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_organismo_transito')?.errors?.['required']"><p>- Organismo de Transito es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_organismo_transito')?.errors?.['maxlength']"><p>- Organismo de Transito no puede exceder 50 caracteres.</p></div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_codigo_barras')?.invalid && (vehicleForm.get('vehiculo_codigo_barras')?.dirty || vehicleForm.get('vehiculo_codigo_barras')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_codigo_barras')?.errors?.['required']"><p>- Código Barras es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_codigo_barras')?.errors?.['maxlength']"><p>- Código Barras no puede exceder 18 caracteres.</p></div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_lateral')?.invalid && (vehicleForm.get('vehiculo_lateral')?.dirty || vehicleForm.get('vehiculo_lateral')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_lateral')?.errors?.['required']"><p>- Lateral es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_lateral')?.errors?.['maxlength']"><p>- Lateral no puede exceder 8 caracteres.</p></div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_kilometraje')?.invalid && (vehicleForm.get('vehiculo_kilometraje')?.dirty || vehicleForm.get('vehiculo_kilometraje')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_kilometraje')?.errors?.['required']"><p>- Kilometraje es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_kilometraje')?.errors?.['pattern']"><p>- Kilometraje no tiene un formato válido.</p></div>
    </div>

    <hr class="external">

    <div class="info-container padding-bottom">
      <div class="div-group gray-background">
        <div class="group-inputs">
          <div class="title-container">
            <h3>Consultar Panapass:</h3>
          </div>

          <div class="form-group">
            <select class="all-size" id="vehiculo_consulta_panapass" formControlName="vehiculo_consulta_panapass" >
              <option [value]="'1'">Sí</option>
              <option [value]="'2'">No</option>
            </select><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="title-container">
            <h3>N° PanaPass:</h3>
          </div>

          <div class="form-group">
            <input class="all-size" type="text" id="vehiculo_panapass" formControlName="vehiculo_panapass"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="title-container">
            <h3>Contraseña:</h3>
          </div>

          <div class="form-group">
            <input class="all-size" type="text" id="vehiculo_panapass_pwd" formControlName="vehiculo_panapass_pwd"><br>
          </div>
        </div>

        <div class="padding"></div>

        <div class="group-inputs">
          <div class="title-container">
            <h3>Saldo:</h3>
          </div>

          <div class="form-group">
            <input class="all-size" type="text" id="vehiculo_saldo_panapass" disabled><br>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_panapass')?.invalid && (vehicleForm.get('vehiculo_panapass')?.dirty || vehicleForm.get('vehiculo_panapass')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_panapass')?.errors?.['required']"><p>- N° PanaPass es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_panapass')?.errors?.['maxlength']"><p>- N° PanaPass no puede exceder 12 caracteres.</p></div>
    </div>

    <div *ngIf="vehicleForm.get('vehiculo_panapass_pwd')?.invalid && (vehicleForm.get('vehiculo_panapass_pwd')?.dirty || vehicleForm.get('vehiculo_panapass_pwd')?.touched)" class="validators">
      <!-- <div *ngIf="vehicleForm.get('vehiculo_panapass_pwd')?.errors?.['required']"><p>- Contraseña es requerido.</p></div> -->
      <div *ngIf="vehicleForm.get('vehiculo_panapass_pwd')?.errors?.['maxlength']"><p>- Contraseña no puede exceder 12 caracteres.</p></div>
    </div>

    <hr class="external">

    <div class="buttons-container">

      <button class="select" type="button" (click)="saveData()">
        <span class="material-symbols-outlined" translate="no">
          check
        </span>
        <p class="select-text">Aceptar</p>
      </button>

      <button class="select back" type="button" routerLink="/vehicles">
        <span class="material-symbols-outlined" translate="no">
          close
        </span>
        <p class="select-text">Cancelar</p>
      </button>

    </div>
  </form>

  <p *ngIf="!isLoading">Creando vehículo, por favor espere...</p>
</div>

<!-- <app-footer></app-footer> -->