<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado Vehiculos Detalle</title> 
    <style type="text/css">
        
        html, body {
            scroll-behavior: smooth;
            margin: 0; 
            padding: 0;
        }
        
        body {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            height:auto;
            margin: 0;
            font-family: Calibri, sans-serif;
            background-color: #ffffff;
            position: relative;
        }
        
        .centered-title {
            font-size: 34px; /* Tamaño de fuente según tus preferencias */
            text-align: center; /* Centra el título horizontalmente */
            margin-bottom: 0px; 
        }
        
        .box {
            flex: 1; /* Distribuye el espacio disponible entre las cajas */
            border: 1px solid #ccc;
            padding: 10px;
        }
        
        p {
            line-height: 1; 
            font-size: 30px;
            margin-bottom: 6px;
            margin-top: 15px;
        }
        
        table {
            border-spacing: 90px 0px; /* Espacio horizontal y vertical entre celdas */
            text-align: left;
            width: 100%;
            empty-cells: hide;
            margin-bottom: 0px;
            margin-top: 0px;
            top: 0%;
        }

        td {
            padding: 0.5px;
            line-height: 1;
        }

        tr {
            line-height: 1;
        }
    </style>
</head>
<body>
    <h1 class="centered-title">{{codigo_empresa}} {{empresa}}</h1>
                <table style = "margin: 0 auto;">
                    <thead>
                        <th></th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% if cant_activo > 0 %}
                        <tr> 
                            <td colspan="3">
                                {% if cant_backup == 0 %}
                                    <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101516/AlfaSoft/templates-backend/img/swgfbppvzzyigrmvwmia.png" height="26" width="26" style="margin-right: 30px;">Activo: &nbsp; {{cant_activo}}</p>
                                {% else %}
                                    <table style="width: 100%; border-spacing: 0;"> 
                                        <tr>
                                            <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101516/AlfaSoft/templates-backend/img/swgfbppvzzyigrmvwmia.png" height="26" width="26" style="margin-right: 30px;">Activo: &nbsp; {{cant_activo}}</p></td>
                                            <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101516/AlfaSoft/templates-backend/img/swgfbppvzzyigrmvwmia.png" height="26" width="26" style="margin-right: 30px;">Activo + Backup: &nbsp; <u>{{ cant_activo_backup }}</u></p></td>
                                        </tr>
                                    </table>
                                {% endif %}
                            </td>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in activos %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_backup > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101571/AlfaSoft/templates-backend/img/rcsniapnkkou1o1jznob.png" height="26" width="26" style="margin-right: 30px;">Backup: &nbsp; {{cant_backup}} </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in backup %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_chap_parado > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101609/AlfaSoft/templates-backend/img/ttnjmuqb3jrdnzcmhljg.png" height="26" width="26" style="margin-right: 30px;">Chapisteria Parado: &nbsp; {{cant_chap_parado}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in chap_parado %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        
                        {% if cant_chap_trabajando > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101690/AlfaSoft/templates-backend/img/sqn0x2wgpkbtkrc1vefi.png" height="26" width="26" style="margin-right: 30px;">Chapisteria Trabajando: &nbsp; {{cant_chap_trabajando}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in chap_trabajando %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        
                        {%if cant_custodia > 0%}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101734/AlfaSoft/templates-backend/img/gngatj9ywlrn1kwewy22.png" height="26" width="26" style="margin-right: 30px;">Custodia: &nbsp; {{cant_custodia}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in custodia %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        {%endif%}
                        
                        {%if cant_esp_operador > 0%}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101779/AlfaSoft/templates-backend/img/pyfhpkgzp42qygr9q2de.png" height="26" width="26" style="margin-right: 30px;">Esperando Operador: &nbsp; {{cant_esp_operador}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in esp_operador %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {%endif%}
                        
                        {%if cant_mecanica_parado > 0%}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101822/AlfaSoft/templates-backend/img/bp3ovo4hgiwu8fz3mbj5.png" height="26" width="26" style="margin-right: 30px;">Mecanica Parados: &nbsp; {{cant_mecanica_parado}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in mecanica_parado %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {%endif%}
                        
                        {%if cant_otros > 0%}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101842/AlfaSoft/templates-backend/img/zehrnc5rcgfe2z4ylwmh.png" height="26" width="26" style="margin-right: 30px;">Otros: &nbsp; {{cant_otros}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in otros %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {%endif%}
                        
                        {% if cant_vehiculos_pendientes_arraijan > 0 %}               
                      <tr>
                        <td>
                          <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101865/AlfaSoft/templates-backend/img/vitc2vqse8giio9a4z5w.png" height="26" width="26" style="margin-right: 30px;">Vehiculos Pendientes Arraijan:</p>
                        </td>
                        <td style="text-align: center;"><p>{{ cant_vehiculos_pendientes_arraijan }}</p></td>
                      </tr>
                      <tr>
                        <td>
                            <table>
                                <tr>
                                {% for numero in vehiculos_pendientes_arraijan %}
                                    <td style="width: 14.28%; line-height: 1.3; 
                                    font-size: 24px;
                                    color: #a9a;">{{ numero }}</td>
                                    {% if loop.index % 7 == 0 %}
                                        </tr><tr>
                                    {% endif %}
                                {% endfor %}
                                </tr>
                            </table>
                        </td>
                    </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}

                        {% if cant_carro_preparacion > 0 %}               
                        <tr>
                          <td>
                            <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101865/AlfaSoft/templates-backend/img/vitc2vqse8giio9a4z5w.png" height="26" width="26" style="margin-right: 30px;">Vehiculos Preparacion:</p>
                          </td>
                          <td style="text-align: center;"><p>{{ cant_carro_preparacion }}</p></td>
                        </tr>
                        <tr>
                          <td>
                              <table>
                                  <tr>
                                  {% for numero in carro_preparacion %}
                                      <td style="width: 14.28%; line-height: 1.3; 
                                      font-size: 24px;
                                      color: #a9a;">{{ numero }}</td>
                                      {% if loop.index % 7 == 0 %}
                                          </tr><tr>
                                      {% endif %}
                                  {% endfor %}
                                  </tr>
                              </table>
                          </td>
                      </tr>
                          <tr>
                              <td colspan="3">
                                  <hr>
                              </td>
                          </tr>
                          {% endif %}

                        {% if cant_traspasados > 0 %}               
                      <tr style="float: left;  margin-left: 100px;">
                        <td>
                          <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101894/AlfaSoft/templates-backend/img/fox0keze58gd81l8zo7d.png" height="26" width="26" style="margin-right: 30px;">Carros Traspasados: &nbsp; {{cant_traspasados}}</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <table>
                                <tr>
                                {% for numero in traspasados %}
                                    <td style="width: 14.28%; line-height: 1.3; 
                                    font-size: 24px;
                                    color: #a9a;">{{ numero }}</td>
                                    {% if loop.index % 7 == 0 %}
                                        </tr><tr>
                                    {% endif %}
                                {% endfor %}
                                </tr>
                            </table>
                        </td>
                      </tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}

                        {% if cant_fin_contrato > 0 %}
                        <tr style="float: left;  margin-left: 100px;">
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101913/AlfaSoft/templates-backend/img/pw5gxvq8znam6sorzaot.png" height="26" width="26" style="margin-right: 30px;">Culminacion de Contrato: &nbsp; {{cant_fin_contrato}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in fin_contrato %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}

                        {% if cant_en_tramite > 0 %}
                        <tr style="float: left;  margin-left: 100px;">
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101934/AlfaSoft/templates-backend/img/tjuh2apofmeygcjjogvk.png" height="26" width="26" style="margin-right: 30px;">En Tramite: &nbsp; {{cant_en_tramite}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in en_tramite %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}

                        {% if cant_fuera_circulacion > 0 %}
                        <tr style="float: left;  margin-left: 100px;">
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101992/AlfaSoft/templates-backend/img/fusi0b0y1cmulvqh2o1p.png" height="26" width="26" style="margin-right: 30px;">Fuera de Circulación: &nbsp; {{cant_fuera_circulacion}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in fuera_circulacion %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}

                        {% if cant_inactivos > 0 %}
                        <tr style="float: left;  margin-left: 100px;">
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101516/AlfaSoft/templates-backend/img/swgfbppvzzyigrmvwmia.png" height="26" width="26" style="margin-right: 30px;">Inactivos: &nbsp; {{cant_inactivos}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in inactivos %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}

                        {% if cant_perdida_total > 0 %}
                        <tr style="float: left;  margin-left: 100px;">
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102049/AlfaSoft/templates-backend/img/on282c42xboaysl7zxlc.png" height="26" width="26" style="margin-right: 30px;">Perdida Total: &nbsp; {{cant_perdida_total}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in perdida_total %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}

                        {% if cant_retirado_empresa > 0 %}
                            <tr style="float: left;  margin-left: 100px;">
                                <td>
                                    <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102070/AlfaSoft/templates-backend/img/nbqvccinvqymxiwb0ijb.png" height="26" width="26" style="margin-right: 30px;">Retirado de la Empresa: &nbsp; {{cant_retirado_empresa}}</p>
                                </td>
                            </tr>   
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                        {% for numero in retirado_empresa %}
                                            <td style="width: 16.66%; line-height: 1.3; 
                                            font-size: 24px;
                                            color: #a9a;">{{ numero }}</td>
                                            {% if loop.index % 6 == 0 %}
                                                </tr><tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <hr>
                                </td>
                            </tr>
                        {% endif %}

                        {% if cant_sin_calificar > 0 %}
                        <tr style="float: left;  margin-left: 100px;">
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102085/AlfaSoft/templates-backend/img/o8lzccrmf2kmaztdxzja.png" height="26" width="26" style="margin-right: 30px;">Sin Calificar: &nbsp; {{cant_sin_calificar}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in sin_calificar %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_vendidos > 0 %}
                        <tr style="float: left;  margin-left: 100px;">
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102103/AlfaSoft/templates-backend/img/utajy8eakhxrdk2ntrzb.png" height="26" width="26" style="margin-right: 30px;">Vendidos: &nbsp; {{cant_vendidos}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in vendidos %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_para_venta > 0 %}
                        <tr style="float: left;  margin-left: 100px;">
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102122/AlfaSoft/templates-backend/img/xwvtihxjwkn22nvtebnr.png" height="26" width="26" style="margin-right: 30px;">Vehículos Para la Venta: &nbsp; {{cant_para_venta}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                    {% for numero in para_venta %}
                                        <td style="width: 14.28%; line-height: 1.3; 
                                        font-size: 24px;
                                        color: #a9a;">{{ numero }}</td>
                                        {% if loop.index % 7 == 0 %}
                                            </tr><tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        {% endif %} 
                    </tbody>
                </table>

                <br>
                
        <table style="border: 1px solid #ccc;
        padding: 10px;
        text-align: center;">
          <tr>
            <th style="font-size: 18px;">Total Flota Autos: {{total_vehiculos}}</th>
            <th style="font-size: 18px;">Activa: {{total_activos}}</th>
            <th style="font-size: 18px;">Inactiva: {{total_parados}}</th>
            <th style="font-size: 18px;">Promedio Flota Activa: {{promedio_activos}}%</th>
            <th style="font-size: 18px;">Promedio Flota Parada: {{promedio_parados}}%</th>
        </table>   
</body>
</html>