<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado Vehiculos Resumen</title>
    <style type="text/css">
      html, body {
        scroll-behavior: smooth;
        margin: 0; 
        padding: 0;
      }
      body {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        height:auto;
        margin: 0;
        font-family: Calibri, sans-serif;
        background-color: #ffffff;
        position: relative;
      }
      
      .centered-title {
        font-size: 26px; /* Tamaño de fuente según tus preferencias */
        text-align: center; /* Centra el título horizontalmente */
        margin-bottom: 0px; 
      }
      
      .box {
        flex: 1; /* Distribuye el espacio disponible entre las cajas */
        border: 1px solid #ccc;
        padding: 10px;
      }
    
      .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      .data {
        font-size: 16px;
        line-height: 1.5;
      }
      
      .title {
        text-align: center; /* Center the title horizontally */
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      
      p {
        line-height: 1; 
        font-size: 24px;
        margin-bottom: 6px;
        margin-top: 15px;
      }
      
      table {
        border-spacing: 90px 0px; /* Espacio horizontal y vertical entre celdas */
        text-align: left;
        width: 100%;
        empty-cells: hide;
        margin-bottom: 0px;
        margin-top: 0px;
        top: 0%;
      }

      td {
        padding: 0.5px;
        line-height: 1;
      }

      tr {
        padding: 0.5px;
        line-height: 1;
      }
    </style>
</head>
<body>
        <h1 class="centered-title">{{codigo_empresa}} {{empresa}}</h1>

                <table style="margin: 0 auto;">
                    <thead>
                        <th></th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                      {% if cant_activo > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101516/AlfaSoft/templates-backend/img/swgfbppvzzyigrmvwmia.png" height="30" width="30" style="margin-right: 30px;">Activo:</p></td>
                          <td style="text-align: center;"><p>{{ cant_activo }}</p></td>
                          <td style="text-align: center; vertical-align: top;">
                            <p><u>{{ cant_activo_backup }}</u></p></td>
                      </tr>
                      {% endif %}
                      {% if cant_backup > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101571/AlfaSoft/templates-backend/img/rcsniapnkkou1o1jznob.png" height="30" width="30" style="margin-right: 30px;">Backup:</p></td>
                          <td style="text-align: center;"><p>{{ cant_backup }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_chap_parado > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101609/AlfaSoft/templates-backend/img/ttnjmuqb3jrdnzcmhljg.png" height="30" width="30" style="margin-right: 30px;">Chapisteria Parado:</p></td>
                          <td style="text-align: center;"><p>{{ cant_chap_parado }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_chap_trabajando > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101690/AlfaSoft/templates-backend/img/sqn0x2wgpkbtkrc1vefi.png" height="30" width="30" style="margin-right: 30px;">Chapisteria Trabajando:</p></td>
                          <td style="text-align: center;"><p>{{ cant_chap_trabajando }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_custodia > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101734/AlfaSoft/templates-backend/img/gngatj9ywlrn1kwewy22.png" height="30" width="30" style="margin-right: 30px;">Custodia:</p></td>
                          <td style="text-align: center;"><p>{{ cant_custodia }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_detenido > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101761/AlfaSoft/templates-backend/img/ta6pftcfw0wocgcbtf11.png" height="30" width="30" style="margin-right: 30px;">Detenido:</p></td>
                          <td style="text-align: center;"><p>{{ cant_detenido }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_esp_operador > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101779/AlfaSoft/templates-backend/img/pyfhpkgzp42qygr9q2de.png" height="30" width="30" style="margin-right: 30px;">Esperando Operador:</p></td>
                          <td style="text-align: center;"><p>{{ cant_esp_operador }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_mecanica_mantenimiento > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101801/AlfaSoft/templates-backend/img/qflgruhkdesytobub7nu.png" height="30" width="30" style="margin-right: 30px;">Mecanica Mantenimiento:</p></td>
                          <td style="text-align: center;"><p>{{ cant_mecanica_mantenimiento }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_mecanica_parado > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101822/AlfaSoft/templates-backend/img/bp3ovo4hgiwu8fz3mbj5.png" height="30" width="30" style="margin-right: 30px;">Mecanica Parados:</p></td>
                          <td style="text-align: center;"><p>{{ cant_mecanica_parado }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_otros > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101842/AlfaSoft/templates-backend/img/zehrnc5rcgfe2z4ylwmh.png" height="30" width="30" style="margin-right: 30px;">Otros:</p></td>
                          <td style="text-align: center;"><p>{{ cant_otros }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_vehiculos_pendientes_arraijan > 0 %}               
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101865/AlfaSoft/templates-backend/img/vitc2vqse8giio9a4z5w.png" height="30" width="30" style="margin-right: 30px;">Vehiculos Pendientes Arraijan:</p></td>
                          <td style="text-align: center;"><p>{{ cant_vehiculos_pendientes_arraijan }}</p></td>
                      </tr>
                      {% endif %}
                    </tbody>
                </table>

                <table margin: 0 auto; style="float: left;  margin-left: 90px;">
                    <thead>
                        <th></th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                      {% if cant_traspasados > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101894/AlfaSoft/templates-backend/img/fox0keze58gd81l8zo7d.png" height="30" width="30" style="margin-right: 30px;">Carros Traspasados:</p></td>
                          <td style="text-align: center;"><p>{{ cant_traspasados }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_fin_contrato > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101913/AlfaSoft/templates-backend/img/pw5gxvq8znam6sorzaot.png" height="30" width="30" style="margin-right: 30px;">Culminacion de Contrato:</p></td>
                          <td style="text-align: center;"><p>{{ cant_fin_contrato }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_en_tramite > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101934/AlfaSoft/templates-backend/img/tjuh2apofmeygcjjogvk.png" height="30" width="30" style="margin-right: 30px;">En Tramite:</p></td>
                          <td style="text-align: center;"><p>{{ cant_en_tramite }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_fuera_circulacion > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101992/AlfaSoft/templates-backend/img/fusi0b0y1cmulvqh2o1p.png" height="30" width="30" style="margin-right: 30px;">Fuera de Circulación:</p></td>
                          <td style="text-align: center;"><p>{{ cant_fuera_circulacion }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_inactivos > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101516/AlfaSoft/templates-backend/img/swgfbppvzzyigrmvwmia.png" height="30" width="30" style="margin-right: 30px;">Inactivos:</p></td>
                          <td style="text-align: center;"><p>{{ cant_inactivos }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_perdida_total > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102049/AlfaSoft/templates-backend/img/on282c42xboaysl7zxlc.png" height="30" width="30" style="margin-right: 30px;">Perdida Total:</p></td>
                          <td style="text-align: center;"><p>{{ cant_perdida_total }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_retirado_empresa > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102070/AlfaSoft/templates-backend/img/nbqvccinvqymxiwb0ijb.png" height="30" width="30" style="margin-right: 30px;">Retirado de la Empresa:</p></td>
                          <td style="text-align: center;"><p>{{ cant_retirado_empresa }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_sin_calificar > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102085/AlfaSoft/templates-backend/img/o8lzccrmf2kmaztdxzja.png" height="30" width="30" style="margin-right: 30px;">Sin Calificar:</p></td>
                          <td style="text-align: center;"><p>{{ cant_sin_calificar }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_vendidos > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102103/AlfaSoft/templates-backend/img/utajy8eakhxrdk2ntrzb.png" height="30" width="30" style="margin-right: 30px;">Vendidos:</p></td>
                          <td style="text-align: center;"><p>{{ cant_vendidos }}</p></td>
                      </tr>
                      {% endif %}
                      {% if cant_para_venta > 0 %}
                      <tr>
                          <td><p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102122/AlfaSoft/templates-backend/img/xwvtihxjwkn22nvtebnr.png" height="30" width="30" style="margin-right: 30px;">Vehiculos Para la Venta:</p></td>
                          <td style="text-align: center;"><p>{{ cant_para_venta }}</p></td>
                      </tr>
                      {% endif %}
                    </tbody>
                </table>
        <table style="border: 1px solid #ccc;
        padding: 10px;
        text-align: center;">
          <tr>
            <th>Total Flota Autos: {{total_vehiculos}}</th>
            <th>Activa: {{total_activos}}</th>
            <th>Inactiva: {{total_parados}}</th>
            <th>Promedio Flota Activa: {{promedio_activos}}%</th>
            <th>Promedio Flota Parada: {{promedio_parados}}%</th>
        </table>
</body>
</html>