<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado Vehiculos Detalle</title>
    <link rel="stylesheet" href="invoice copy.css"> 
    <style type="text/css">
        dl {
    position: absolute;
    left: 0;
    text-align:left;
    top: 0;
  }
  dr {
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
  dt, dd {
    display: inline;
    margin: 0;
  }
  dt {
    color: #a9a;
  }
  dt::before {
    content: '';
    display: block;
  }
  dt::after {
    content: ':';
  }
  
  html, body {
    scroll-behavior: smooth;
    margin: 0; 
  padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height:auto;
    margin: 0;
    font-family: Calibri, sans-serif;
    background-color: #ffffff;
    position: relative;
  }
  
  .centered-title {
    font-size: 30px; /* Tamaño de fuente según tus preferencias */
    text-align: center; /* Centra el título horizontalmente */
    margin-bottom: 0px; 
  }
  
  .box {
    flex: 1; /* Distribuye el espacio disponible entre las cajas */
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .data {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .title {
    text-align: center; /* Center the title horizontally */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    line-height: 1.5; 
    font-size: 24px;
    margin-bottom: 6px;
	margin-top: 15px;
  }

    p2 {
        line-height: 2; 
        font-size: 24px;
        color: #a9a;
    }
  
  table {
    border-spacing: 90px 0px; /* Espacio horizontal y vertical entre celdas */
    text-align: left;
    width: 100%;
    empty-cells: hide;
    margin-bottom: 0px;
    margin-top: 0px;
    top: 0%;
  }

  td {
    padding: 0.5px;
    line-height: 1;
  }

  tr {
    padding: 0.5px;
    line-height: 1;
  }

  header {
    top: 0;
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 0%;
  }

  footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  }

  footer p {
  font-size: 12px; 
  }
    </style>
</head>
<body>

    <header>
        
        <dl>
            <div>
                <img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101365/AlfaSoft/templates-backend/logo/bojo3n5fq1zpqxpxvvy5.png" id="logo" height="50" width="150">
            </div>
        </dl>

        <br>
        <br>

        <h1 class="centered-title">{{empresa}}</h1>

        <dr id="informations">
            <div class="box">
                <dt>Fecha</dt>
                <dd>{{fecha}}</dd>
                <dt>Hora</dt>
                <dd>{{hora}}</dd>
            </div>
        </dr>
        <hr>

    </header>
                <table style = "margin: 0 auto;">
                    <thead>
                        <th></th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% if cant_activo > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101516/AlfaSoft/templates-backend/img/swgfbppvzzyigrmvwmia.png" height="26" width="26" style="margin-right: 30px;">Activo:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_activo }}</p></td>
                            <td style="text-align: center; vertical-align: top;"><p><u>{{ cant_activo_backup }}</u></p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in activos %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_backup > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101571/AlfaSoft/templates-backend/img/rcsniapnkkou1o1jznob.png" height="26" width="26" style="margin-right: 30px;">Backup:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_backup }}</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in backup %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_chap_parado > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101609/AlfaSoft/templates-backend/img/ttnjmuqb3jrdnzcmhljg.png" height="26" width="26" style="margin-right: 30px;">Chapisteria Parado:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_chap_parado }}</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in chap_parado %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        
                        {% if cant_chap_trabajando > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101690/AlfaSoft/templates-backend/img/sqn0x2wgpkbtkrc1vefi.png" height="26" width="26" style="margin-right: 30px;">Chapisteria Trabajando:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_chap_trabajando }}</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in chap_trabajando %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        
                        {%if cant_custodia > 0%}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101734/AlfaSoft/templates-backend/img/gngatj9ywlrn1kwewy22.png" height="26" width="26" style="margin-right: 30px;">Custodia:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_custodia }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in custodia %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        {%endif%}
                        
                        {%if cant_esp_operador > 0%}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101779/AlfaSoft/templates-backend/img/pyfhpkgzp42qygr9q2de.png" height="26" width="26" style="margin-right: 30px;">Esperando Operador:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_esp_operador }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in esp_operador %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {%endif%}
                        
                        {%if cant_mecanica_parado > 0%}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101822/AlfaSoft/templates-backend/img/bp3ovo4hgiwu8fz3mbj5.png" height="26" width="26" style="margin-right: 30px;">Mecanica Parados:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_mecanica_parado }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in mecanica_parado %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {%endif%}
                        
                        {%if cant_otros > 0%}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101842/AlfaSoft/templates-backend/img/zehrnc5rcgfe2z4ylwmh.png" height="26" width="26" style="margin-right: 30px;">Otros:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_otros }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in otros %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {%endif%}
                        
                        {% if cant_vehiculos_pendientes_arraijan > 0 %}               
                      <tr>
                        <td>
                          <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101865/AlfaSoft/templates-backend/img/vitc2vqse8giio9a4z5w.png" height="26" width="26" style="margin-right: 30px;">Vehiculos Pendientes Arraijan:</p>
                        </td>
                        <td style="text-align: center;"><p>{{ cant_vehiculos_pendientes_arraijan }}</p></td>
                      </tr>
                        <tr>
                            <td colspan="3">
                            <p2>
                                {% for numero in vehiculos_pendientes_arraijan %}
                                {{ numero }}&nbsp;
                                {% endfor %}
                            </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

                <!-- --------------------------------------------------------------------------- -->

                <table style="float: left;  margin-left: 100px;">
                    <thead>
                        <th</th>
                    </thead>
                    <tbody>
                        {% if cant_traspasados > 0 %}               
                      <tr>
                        <td>
                          <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101894/AlfaSoft/templates-backend/img/fox0keze58gd81l8zo7d.png" height="26" width="26" style="margin-right: 30px;">Carros Traspasados:</p>
                        </td>
                        <td style="text-align: center;"><p>{{ cant_traspasados }}</p></td>
                      </tr>
                        <tr>
                            <td colspan="3">
                            <p2>
                                {% for numero in traspasados %}
                                {{ numero }}&nbsp;
                                {% endfor %}
                            </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_fin_contrato > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101913/AlfaSoft/templates-backend/img/pw5gxvq8znam6sorzaot.png" height="26" width="26" style="margin-right: 30px;">Culminacion de Contrato:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_fin_contrato }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in fin_contrato %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_en_tramite > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101934/AlfaSoft/templates-backend/img/tjuh2apofmeygcjjogvk.png" height="26" width="26" style="margin-right: 30px;">En Tramite:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_en_tramite }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in en_tramite %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_fuera_circulacion > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101992/AlfaSoft/templates-backend/img/fusi0b0y1cmulvqh2o1p.png" height="26" width="26" style="margin-right: 30px;">Fuera de Circulación:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_fuera_circulacion }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in fuera_circulacion %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_inactivos > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716101516/AlfaSoft/templates-backend/img/swgfbppvzzyigrmvwmia.png" height="26" width="26" style="margin-right: 30px;">Inactivos:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_inactivos }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in inactivos %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_perdida_total > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102049/AlfaSoft/templates-backend/img/on282c42xboaysl7zxlc.png" height="26" width="26" style="margin-right: 30px;">Perdida Total:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_perdida_total }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in perdida_total %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_retirado_empresa > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102070/AlfaSoft/templates-backend/img/nbqvccinvqymxiwb0ijb.png" height="26" width="26" style="margin-right: 30px;">Retirado de la Empresa:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_retirado_empresa }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in retirado_empresa %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_sin_calificar > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102085/AlfaSoft/templates-backend/img/o8lzccrmf2kmaztdxzja.png" height="26" width="26" style="margin-right: 30px;">Sin Calificar:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_sin_calificar }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in sin_calificar %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_vendidos > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102103/AlfaSoft/templates-backend/img/utajy8eakhxrdk2ntrzb.png" height="26" width="26" style="margin-right: 30px;">Vendidos:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_vendidos }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in vendidos %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                        {% endif %}
                        
                        {% if cant_para_venta > 0 %}
                        <tr>
                            <td>
                                <p><img src="https://res.cloudinary.com/dhry2v8qz/image/upload/v1716102122/AlfaSoft/templates-backend/img/xwvtihxjwkn22nvtebnr.png" height="26" width="26" style="margin-right: 30px;">Vehículos Para la Venta:</p>
                            </td>
                            <td style="text-align: center;"><p>{{ cant_para_venta }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p2>
                                    {% for numero in para_venta %}
                                        {{ numero }}&nbsp;
                                    {% endfor %}
                                </p2>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

                <hr>

                <table>
                    <thead>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <td>Total Flota Autos: {{total_vehiculos}}</td>
                        <td>Activa: {{total_activos}}</td>
                        <td>Parada: {{total_parados}}</td>
                        <td>Promedio Flota Activa: {{promedio_activos}}%</td>
                        <td>Promedio Flota Parada: {{promedio_parados}}%</td>
                    </tbody>
                </table>

        <footer>
            <hr>
            <p style="float: left; margin-left: 50px;">Sistemas Alfa</p>
            <p style="float: right; margin-right: 50px;">Usuario: {{usuario}}</p>
        </footer>        
</body>
</html>