<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe Cuotas Pagas</title>
    <link rel="stylesheet" href="invoice copy.css"> 
    <style type="text/css">
        .container {
            position: relative;
        }
        #logo {
            position: absolute;
            top: 0;
            right: 0;
        }
        .content {
            margin-left: 200px; 
        }
        table {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }
        tr:first-child th, tr:first-child td {
            background-color: #ccc;
            border: 1px solid #000000;
            padding: 10px;
            text-align: center;
        }
        td{
            white-space: nowrap;
        }
        tr {
            padding: 15px;
            line-height: 1.8;
            margin-bottom: 20px;
        }
        .box-propietario {
            text-align: left;
            margin-top: 20px;
            border: 2px solid #000;
            border-radius: 10px; /* Bordes redondeados */
            padding: 10px; /* Espaciado interno */
        }
         dr {
            position: absolute;
            right: 0;
            text-align: right;
            top: 0;
        }
        dt, dd {
            display: inline;
            margin: 0;
        }
        dt {
            color: #a9a;
        }
        dt::before {
            content: '';
            display: block;
        }
        dt::after {
            content: ':';
        }
        html, body {
            scroll-behavior: smooth;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .centered-title {
            font-size: 30px; /* Tamaño de fuente según tus preferencias */
            text-align: center; /* Centra el título horizontalmente */
            margin-bottom: 0px; 
        }
        .box {
            flex: 1; /* Distribuye el espacio disponible entre las cajas */
            border: 1px solid #ccc;
            padding: 10px;
        }
        p {
            line-height: 1; 
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
        footer {
        bottom: 0;
        width: 100%;
        text-align: center;
        font-family: Arial, sans-serif;
        }
        footer p {
        font-size: 12px; 
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h4 style="margin-bottom: -20px;">WORLD TAXI ADMINISTRACIÓN, S.A.</h4>
            <h5 style="margin-bottom: 0px;">RUC: 2321389-1-793035</h5>
        </div>
        <img src="C:/Programas/python/backend/meta/Frontend/form1/logos/logo.png" class="logo" height="75" width="190">
    </div>
    <h1 class="centered-title">Informe Cuotas Pagas de Conductores</h1>

    <dr id="informations">
        <div class="box">
            <dt>Fecha</dt>
            <dd>2024-06-02</dd>
            <dt>Hora</dt>
            <dd>12:29:33</dd>
        </div>        
    </dr>
    <hr>

    <table>
        <tr>
            <th>N°</th>
            <th>Código</th>
            <th>Nombre Conductor</th>
            <th>Ingreso</th>
            <th>Unidad</th>
            <th>Presta</th>
            <th>Estado</th>
            <th>Vlr</th>
            <th>N°Ctas</th>
            <th>Pagas</th>
            <th>Pend</th>
        </tr>
        
        
        
        
        
        
            
            <tr>
                <th colspan="7">
                    <div class="box-propietario">
                        Propietario: 1 Fusion Games
                    </div>
                </th>
            </tr>
                  
            
            
            
            
            
            
                <tr>
                    <td></td>
                    <td></td>
                    <td style = "text-align: left;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            
            
            
                <tr>
                    <td>1</td>
                    <td>9087</td>
                    <td style = "text-align: left;">OMAR ABDIEL DE LEON NAVARRO</td>
                    <td>2020-10-12</td>
                    <td>FG47</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» CULMINACION DE CONTRATO</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>2</td>
                    <td>10251</td>
                    <td style = "text-align: left;">HECTOR ARIEL MORALES MOLINA</td>
                    <td>2023-08-16</td>
                    <td>LTT02</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>25.00</td>
                    <td>50.00</td>
                    <td>50.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>3</td>
                    <td>9427</td>
                    <td style = "text-align: left;">ABDIEL ANTONIO AVECILLA QUIROS</td>
                    <td>2021-07-29</td>
                    <td>FG19</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>4</td>
                    <td>9574</td>
                    <td style = "text-align: left;">JOHNNY ARMANDO CABALLERO VERGARA</td>
                    <td>2021-12-06</td>
                    <td>LTT19</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» CULMINACION DE CONTRATO</td>
                    <td>28.00</td>
                    <td>650.00</td>
                    <td>649.00</td>
                    <td>1.00</td>
                </tr>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
        
            
            <tr>
                <th colspan="7">
                    <div class="box-propietario">
                        Propietario: 13 Miranda Plaza, S.a
                    </div>
                </th>
            </tr>
                  
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                <tr>
                    <td></td>
                    <td></td>
                    <td style = "text-align: left;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            
            
            
                <tr>
                    <td>1</td>
                    <td>4697</td>
                    <td style = "text-align: left;">ARTURO  FREYER HENRIQUEZ</td>
                    <td>2018-06-22</td>
                    <td>642</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» CULMINACION DE CONTRATO</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>2</td>
                    <td>9128</td>
                    <td style = "text-align: left;">FILADELFIO ARAUZ LEZCANO</td>
                    <td>2020-10-31</td>
                    <td>MIR600</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» CULMINACION DE CONTRATO</td>
                    <td>27.00</td>
                    <td>320.00</td>
                    <td>289.00</td>
                    <td>31.00</td>
                </tr>
            
            
            
                <tr>
                    <td>3</td>
                    <td>9777</td>
                    <td style = "text-align: left;">JUNIER FRANCISCO ALVAREZ MARTINEZ</td>
                    <td>2022-05-26</td>
                    <td>MIR610</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">CHAPISTERIA PARADO</td>
                    <td>27.00</td>
                    <td>620.00</td>
                    <td>516.00</td>
                    <td>105.00</td>
                </tr>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
            
            <tr>
                <th colspan="7">
                    <div class="box-propietario">
                        Propietario: 17 Irt Panama Services
                    </div>
                </th>
            </tr>
                  
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                <tr>
                    <td></td>
                    <td></td>
                    <td style = "text-align: left;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            
            
            
                <tr>
                    <td>1</td>
                    <td>8737</td>
                    <td style = "text-align: left;">RICARDO ARTURO NUÑEZ MORATO</td>
                    <td>2020-09-09</td>
                    <td>IRT551</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» Vehiculos Para la Venta</td>
                    <td>28.00</td>
                    <td>741.00</td>
                    <td>678.00</td>
                    <td>63.00</td>
                </tr>
            
            
            
                <tr>
                    <td>2</td>
                    <td>9062</td>
                    <td style = "text-align: left;">HIBERTO PERALTA BRISTAN</td>
                    <td>2020-10-06</td>
                    <td>IRT557</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>30.00</td>
                    <td>790.00</td>
                    <td>790.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>3</td>
                    <td>8607</td>
                    <td style = "text-align: left;">JOSUE VLADIMIR MEDINA GONZALEZ</td>
                    <td>2020-09-21</td>
                    <td>IRT559</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>30.00</td>
                    <td>860.00</td>
                    <td>860.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>4</td>
                    <td>9013</td>
                    <td style = "text-align: left;">HECTOR ALFONSO  CAMARENA CABALLERO</td>
                    <td>2020-09-28</td>
                    <td>IRT560</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>30.00</td>
                    <td>1005.00</td>
                    <td>985.00</td>
                    <td>20.00</td>
                </tr>
            
            
            
                <tr>
                    <td>5</td>
                    <td>9233</td>
                    <td style = "text-align: left;">JORGE LUIS REYES JORDAN</td>
                    <td>2021-02-24</td>
                    <td>IRT563</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» CULMINACION DE CONTRATO</td>
                    <td>32.00</td>
                    <td>820.00</td>
                    <td>821.00</td>
                    <td>-1.00</td>
                </tr>
            
            
            
                <tr>
                    <td>6</td>
                    <td>9529</td>
                    <td style = "text-align: left;">JOSE ALBERTO  JIMENEZ CONTRERAS</td>
                    <td>2021-10-29</td>
                    <td>IRT565</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">MECANICA PARADOS</td>
                    <td>32.00</td>
                    <td>890.00</td>
                    <td>652.00</td>
                    <td>238.00</td>
                </tr>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
            
            <tr>
                <th colspan="7">
                    <div class="box-propietario">
                        Propietario: 26 Total Taxi Panama S.
                    </div>
                </th>
            </tr>
                  
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                <tr>
                    <td></td>
                    <td></td>
                    <td style = "text-align: left;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            
            
            
                <tr>
                    <td>1</td>
                    <td>9734</td>
                    <td style = "text-align: left;">ISIDRO OSSES  MENESES</td>
                    <td>2022-04-22</td>
                    <td>TT123</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>27.00</td>
                    <td>650.00</td>
                    <td>611.00</td>
                    <td>39.00</td>
                </tr>
            
            
            
                <tr>
                    <td>2</td>
                    <td>9849</td>
                    <td style = "text-align: left;">PASTOR ENRIQUE SANCHEZ MONTES</td>
                    <td>2022-07-28</td>
                    <td>TT147</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>25.00</td>
                    <td>700.00</td>
                    <td>538.00</td>
                    <td>162.00</td>
                </tr>
            
            
            
                <tr>
                    <td>3</td>
                    <td>9635</td>
                    <td style = "text-align: left;">ROLDAN GEOVANNI GONZALEZ GONZALEZ</td>
                    <td>2022-01-12</td>
                    <td>TT107</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">CHAPISTERIA PARADO</td>
                    <td>28.00</td>
                    <td>650.00</td>
                    <td>650.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>4</td>
                    <td>9675</td>
                    <td style = "text-align: left;">EUDES FELIX BATISTA GONZALEZ</td>
                    <td>2022-02-23</td>
                    <td>TT176</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» CULMINACION DE CONTRATO</td>
                    <td>27.00</td>
                    <td>548.00</td>
                    <td>548.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>5</td>
                    <td>9341</td>
                    <td style = "text-align: left;">JOSUE ANTONIO HERRERA OJO</td>
                    <td>2021-05-10</td>
                    <td>TT181</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>30.00</td>
                    <td>790.00</td>
                    <td>790.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>6</td>
                    <td>8799</td>
                    <td style = "text-align: left;">HENRY ARTURO  GONZALEZ QUINTERO</td>
                    <td>2020-09-10</td>
                    <td>TT185</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>30.00</td>
                    <td>312.00</td>
                    <td>672.00</td>
                    <td>-360.00</td>
                </tr>
            
            
            
                <tr>
                    <td>7</td>
                    <td>9355</td>
                    <td style = "text-align: left;">ALFREDO  PLATO</td>
                    <td>2021-05-24</td>
                    <td>TT177</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>30.00</td>
                    <td>730.00</td>
                    <td>730.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>8</td>
                    <td>9783</td>
                    <td style = "text-align: left;">SILVERIO GONZALEZ CONCEPCION</td>
                    <td>2022-05-28</td>
                    <td>TT180</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>30.00</td>
                    <td>720.00</td>
                    <td>587.00</td>
                    <td>133.00</td>
                </tr>
            
            
            
                <tr>
                    <td>9</td>
                    <td>9761</td>
                    <td style = "text-align: left;">LUIS EDUARDO  DURAN TORRES</td>
                    <td>2022-05-14</td>
                    <td>TT183</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» CULMINACION DE CONTRATO</td>
                    <td>25.00</td>
                    <td>30.00</td>
                    <td>30.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>10</td>
                    <td>9159</td>
                    <td style = "text-align: left;">KEVIN ANDRES CARRASQUILLA CERVERA</td>
                    <td>2020-11-25</td>
                    <td>TT134</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>30.00</td>
                    <td>820.00</td>
                    <td>820.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>11</td>
                    <td>9018</td>
                    <td style = "text-align: left;">RUBEN ALFONSO HERRERA POTES</td>
                    <td>2020-09-18</td>
                    <td>TT194</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>20.00</td>
                    <td>99.00</td>
                    <td>44.00</td>
                    <td>55.00</td>
                </tr>
            
            
            
                <tr>
                    <td>12</td>
                    <td>10053</td>
                    <td style = "text-align: left;">DIONICIO CABALLERO QUINTERO</td>
                    <td>2023-02-04</td>
                    <td>TT191</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>30.00</td>
                    <td>650.00</td>
                    <td>377.00</td>
                    <td>273.00</td>
                </tr>
            
            
            
                <tr>
                    <td>13</td>
                    <td>9005</td>
                    <td style = "text-align: left;">GABRIEL EMILIO  FABREGA COGLEY</td>
                    <td>2020-09-26</td>
                    <td>TT193</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>30.00</td>
                    <td>825.00</td>
                    <td>821.00</td>
                    <td>4.00</td>
                </tr>
            
            
            
                <tr>
                    <td>14</td>
                    <td>9638</td>
                    <td style = "text-align: left;">JOEL DIOMEDES NIÑO MUÑOZ</td>
                    <td>2022-01-21</td>
                    <td>TT190</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>30.00</td>
                    <td>720.00</td>
                    <td>636.00</td>
                    <td>84.00</td>
                </tr>
            
            
            
                <tr>
                    <td>15</td>
                    <td>9806</td>
                    <td style = "text-align: left;">ALEXIS SANCHEZ RIVAS</td>
                    <td>2022-06-15</td>
                    <td>TT195</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>30.00</td>
                    <td>730.00</td>
                    <td>554.00</td>
                    <td>176.00</td>
                </tr>
            
            
            
                <tr>
                    <td>16</td>
                    <td>10096</td>
                    <td style = "text-align: left;">PORFIRIO ERASMO PRADO SALINAS</td>
                    <td>2023-03-06</td>
                    <td>TT188</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>30.00</td>
                    <td>670.00</td>
                    <td>374.00</td>
                    <td>296.00</td>
                </tr>
            
            
            
                <tr>
                    <td>17</td>
                    <td>9716</td>
                    <td style = "text-align: left;">OCTAVIO  HERNANDEZ JUAREZ</td>
                    <td>2022-04-01</td>
                    <td>TT127</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>30.00</td>
                    <td>720.00</td>
                    <td>632.00</td>
                    <td>89.00</td>
                </tr>
            
            
            
                <tr>
                    <td>18</td>
                    <td>10293</td>
                    <td style = "text-align: left;">JANOY ERNESTO DURAN</td>
                    <td>0000-00-00</td>
                    <td>TT148</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>30.00</td>
                    <td>105.00</td>
                    <td>103.00</td>
                    <td>2.00</td>
                </tr>
            
            
            
                <tr>
                    <td>19</td>
                    <td>8853</td>
                    <td style = "text-align: left;">PEDRO CONSTANTINO CASTILLO MORELO</td>
                    <td>2020-09-15</td>
                    <td>TT149</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">OTROS</td>
                    <td>30.00</td>
                    <td>913.00</td>
                    <td>916.00</td>
                    <td>-3.00</td>
                </tr>
            
            
            
                <tr>
                    <td>20</td>
                    <td>8997</td>
                    <td style = "text-align: left;">LUIS ALBERTO MORENO SALCEDO</td>
                    <td>2020-09-23</td>
                    <td>TT113</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» CULMINACION DE CONTRATO</td>
                    <td>25.00</td>
                    <td>86.00</td>
                    <td>86.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>21</td>
                    <td>8622</td>
                    <td style = "text-align: left;">PEDRO FLORES MEDINA</td>
                    <td>2020-07-01</td>
                    <td>TT121</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>25.00</td>
                    <td>835.00</td>
                    <td>835.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>22</td>
                    <td>10285</td>
                    <td style = "text-align: left;">ERIC LEDEZMA GOMEZ</td>
                    <td>2023-09-21</td>
                    <td>TT161</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» CULMINACION DE CONTRATO</td>
                    <td>25.00</td>
                    <td>107.00</td>
                    <td>72.00</td>
                    <td>35.00</td>
                </tr>
            
            
            
                <tr>
                    <td>23</td>
                    <td>9034</td>
                    <td style = "text-align: left;">ENRIQUE  JARAMILLO SANCHEZ</td>
                    <td>0000-00-00</td>
                    <td>TT159</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» EN TRAMITE</td>
                    <td>30.00</td>
                    <td>850.00</td>
                    <td>850.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>24</td>
                    <td>9764</td>
                    <td style = "text-align: left;">HECTOR  DE GRACIA</td>
                    <td>2022-05-17</td>
                    <td>TT163</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>30.00</td>
                    <td>720.00</td>
                    <td>589.00</td>
                    <td>131.00</td>
                </tr>
            
            
            
                <tr>
                    <td>25</td>
                    <td>9590</td>
                    <td style = "text-align: left;">MIGUEL ANGEL  HORMI TRUJILLO</td>
                    <td>2021-12-14</td>
                    <td>TT169</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>33.00</td>
                    <td>930.00</td>
                    <td>679.00</td>
                    <td>251.00</td>
                </tr>
            
            
            
                <tr>
                    <td>26</td>
                    <td>8932</td>
                    <td style = "text-align: left;">ROBERT NORMAN JOHNSON HENRY</td>
                    <td>2020-09-18</td>
                    <td>TT174</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>30.00</td>
                    <td>1095.00</td>
                    <td>973.00</td>
                    <td>122.00</td>
                </tr>
            
            
            
                <tr>
                    <td>27</td>
                    <td>10386</td>
                    <td style = "text-align: left;">HECTOR GABRIEL CASTILLO PEÑA</td>
                    <td>0000-00-00</td>
                    <td>TT197</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>32.00</td>
                    <td>820.00</td>
                    <td>40.00</td>
                    <td>780.00</td>
                </tr>
            
            
            
                <tr>
                    <td>28</td>
                    <td>8320</td>
                    <td style = "text-align: left;">JOSE MANUEL MORAN MORAN</td>
                    <td>2019-12-20</td>
                    <td>TT170</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">CHAPISTERIA PARADO</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>29</td>
                    <td>8872</td>
                    <td style = "text-align: left;">OBED ANEL  RODRIGUEZ PINO</td>
                    <td>2020-09-15</td>
                    <td>TT198</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>28.00</td>
                    <td>1000.00</td>
                    <td>962.00</td>
                    <td>38.00</td>
                </tr>
            
            
            
                <tr>
                    <td>30</td>
                    <td>10304</td>
                    <td style = "text-align: left;">JOSE LUIS PEÑA CEDEÑO</td>
                    <td>2023-10-18</td>
                    <td>TT150</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>0.00</td>
                    <td>760.00</td>
                    <td>182.00</td>
                    <td>578.00</td>
                </tr>
            
            
            
                <tr>
                    <td>31</td>
                    <td>9019</td>
                    <td style = "text-align: left;">DAVID WILDER VARGAS SANCHEZ</td>
                    <td>2020-09-18</td>
                    <td>TT151</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>30.00</td>
                    <td>1035.00</td>
                    <td>989.00</td>
                    <td>46.00</td>
                </tr>
            
            
            
                <tr>
                    <td>32</td>
                    <td>9827</td>
                    <td style = "text-align: left;">DAN LEE DOWNER RAMOS</td>
                    <td>2022-07-01</td>
                    <td>TT167</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>32.00</td>
                    <td>830.00</td>
                    <td>557.00</td>
                    <td>273.00</td>
                </tr>
            
            
            
                <tr>
                    <td>33</td>
                    <td>9012</td>
                    <td style = "text-align: left;">CARLOS ALBERTO MORENO LABASTID</td>
                    <td>2024-04-16</td>
                    <td>TT214</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>32.00</td>
                    <td>730.00</td>
                    <td>23.00</td>
                    <td>707.00</td>
                </tr>
            
            
            
                <tr>
                    <td>34</td>
                    <td>9782</td>
                    <td style = "text-align: left;">MOISES  MONTOYA RODRIGUEZ</td>
                    <td>2022-05-27</td>
                    <td>TT216</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>850.00</td>
                    <td>600.00</td>
                    <td>250.00</td>
                </tr>
            
            
            
                <tr>
                    <td>35</td>
                    <td>9526</td>
                    <td style = "text-align: left;">DANIEL CRISTOBAL BREWSTER CARRASCO</td>
                    <td>2021-10-27</td>
                    <td>TT215</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>1095.00</td>
                    <td>775.00</td>
                    <td>320.00</td>
                </tr>
            
            
            
                <tr>
                    <td>36</td>
                    <td>10378</td>
                    <td style = "text-align: left;">LUIS ALEJANDRO CASTRO LOMBARDO</td>
                    <td>2024-03-07</td>
                    <td>TT213</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>880.00</td>
                    <td>50.00</td>
                    <td>830.00</td>
                </tr>
            
            
            
                <tr>
                    <td>37</td>
                    <td>9580</td>
                    <td style = "text-align: left;">IRENO ACOSTA PEREZ</td>
                    <td>2021-12-09</td>
                    <td>TT211</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>32.00</td>
                    <td>980.00</td>
                    <td>744.00</td>
                    <td>236.00</td>
                </tr>
            
            
            
                <tr>
                    <td>38</td>
                    <td>10243</td>
                    <td style = "text-align: left;">ODIN YASSER VALDES</td>
                    <td>2023-08-11</td>
                    <td>TT217</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">CHAPISTERIA PARADO</td>
                    <td>35.00</td>
                    <td>943.00</td>
                    <td>232.00</td>
                    <td>711.00</td>
                </tr>
            
            
            
                <tr>
                    <td>39</td>
                    <td>10399</td>
                    <td style = "text-align: left;">MANUEL SALVADOR GIRADO DEL REAL</td>
                    <td>2024-04-29</td>
                    <td>TT220</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>670.00</td>
                    <td>19.00</td>
                    <td>651.00</td>
                </tr>
            
            
            
                <tr>
                    <td>40</td>
                    <td>10354</td>
                    <td style = "text-align: left;">MIGUEL ANGEL VEGA</td>
                    <td>2024-01-19</td>
                    <td>TT218</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>820.00</td>
                    <td>104.00</td>
                    <td>717.00</td>
                </tr>
            
            
            
                <tr>
                    <td>41</td>
                    <td>9579</td>
                    <td style = "text-align: left;">LUIS CARLOS  MARTINEZ GONZALEZ</td>
                    <td>2021-12-09</td>
                    <td>TT219</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>32.00</td>
                    <td>980.00</td>
                    <td>723.00</td>
                    <td>257.00</td>
                </tr>
            
            
            
                <tr>
                    <td>42</td>
                    <td>10397</td>
                    <td style = "text-align: left;">JORGE LUIS VIQUEZ CHERY</td>
                    <td>2025-04-23</td>
                    <td>TT227</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">CHAPISTERIA PARADO</td>
                    <td>32.00</td>
                    <td>870.00</td>
                    <td>1.00</td>
                    <td>869.00</td>
                </tr>
            
            
            
                <tr>
                    <td>43</td>
                    <td>10226</td>
                    <td style = "text-align: left;">MANUEL ARMANDO DE ICAZA</td>
                    <td>2023-07-31</td>
                    <td>TT226</td>
                    <td>TT226</td>
                    <td style = "text-align: left; margin-right: 15px;">MECANICA PARADOS</td>
                    <td>35.00</td>
                    <td>913.00</td>
                    <td>239.00</td>
                    <td>674.00</td>
                </tr>
            
            
            
                <tr>
                    <td>44</td>
                    <td>9967</td>
                    <td style = "text-align: left;">IRISNELL ORTEGA AJI</td>
                    <td>2022-11-07</td>
                    <td>TT225</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>1065.00</td>
                    <td>467.00</td>
                    <td>599.00</td>
                </tr>
            
            
            
                <tr>
                    <td>45</td>
                    <td>9909</td>
                    <td style = "text-align: left;">CARLOS LUIS VEGA PINEDA</td>
                    <td>2022-09-16</td>
                    <td>TT224</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>1095.00</td>
                    <td>501.00</td>
                    <td>594.00</td>
                </tr>
            
            
            
                <tr>
                    <td>46</td>
                    <td>10226</td>
                    <td style = "text-align: left;">MANUEL ARMANDO DE ICAZA</td>
                    <td>2023-07-31</td>
                    <td>TT228</td>
                    <td>TT226</td>
                    <td style = "text-align: left; margin-right: 15px;">BACUPK</td>
                    <td>35.00</td>
                    <td>913.00</td>
                    <td>239.00</td>
                    <td>674.00</td>
                </tr>
            
            
            
                <tr>
                    <td>47</td>
                    <td>9958</td>
                    <td style = "text-align: left;">JOSE RAUL PITTI MIRANDA</td>
                    <td>2022-10-21</td>
                    <td>TT223</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>1095.00</td>
                    <td>483.00</td>
                    <td>612.00</td>
                </tr>
            
            
            
                <tr>
                    <td>48</td>
                    <td>9939</td>
                    <td style = "text-align: left;">MARCO ANTONIO GUARDADO PALOMO</td>
                    <td>2022-10-08</td>
                    <td>TT222</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>32.00</td>
                    <td>1035.00</td>
                    <td>473.00</td>
                    <td>562.00</td>
                </tr>
            
            
            
                <tr>
                    <td>49</td>
                    <td>9970</td>
                    <td style = "text-align: left;">ALEX OBED FLORES MARTINEZ</td>
                    <td>2022-11-07</td>
                    <td>TT233</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>1095.00</td>
                    <td>481.00</td>
                    <td>614.00</td>
                </tr>
            
            
            
                <tr>
                    <td>50</td>
                    <td>10393</td>
                    <td style = "text-align: left;">ALEX ARIEL SOUSA HIDALGO</td>
                    <td>2024-04-15</td>
                    <td>TT231</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>980.00</td>
                    <td>27.00</td>
                    <td>953.00</td>
                </tr>
            
            
            
                <tr>
                    <td>51</td>
                    <td>10398</td>
                    <td style = "text-align: left;">ALEXANDER JAVIER DE LEON DIAZ</td>
                    <td>2024-04-25</td>
                    <td>TT230</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>820.00</td>
                    <td>21.00</td>
                    <td>799.00</td>
                </tr>
            
            
            
                <tr>
                    <td>52</td>
                    <td>9976</td>
                    <td style = "text-align: left;">RODOLFO ABDIEL LONG BELGRAVE</td>
                    <td>2022-11-08</td>
                    <td>TT229</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>1095.00</td>
                    <td>447.00</td>
                    <td>648.00</td>
                </tr>
            
            
            
                <tr>
                    <td>53</td>
                    <td>9982</td>
                    <td style = "text-align: left;">ROLANDO RUEDA BELTRAN</td>
                    <td>2022-11-11</td>
                    <td>TT234</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>1095.00</td>
                    <td>456.00</td>
                    <td>639.00</td>
                </tr>
            
            
            
                <tr>
                    <td>54</td>
                    <td>10382</td>
                    <td style = "text-align: left;">DANIEL ANONIO PEDROZA ZAMBRANO</td>
                    <td>2024-03-20</td>
                    <td>TT232</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">ACTIVO</td>
                    <td>35.00</td>
                    <td>940.00</td>
                    <td>53.00</td>
                    <td>887.00</td>
                </tr>
            
            
            
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
            
            <tr>
                <th colspan="7">
                    <div class="box-propietario">
                        Propietario: 36 Gen Taxi, S.a.
                    </div>
                </th>
            </tr>
                  
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                <tr>
                    <td></td>
                    <td></td>
                    <td style = "text-align: left;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            
            
            
                <tr>
                    <td>1</td>
                    <td>5364</td>
                    <td style = "text-align: left;">RENE  CORDOBA HINESTROZA</td>
                    <td>2017-02-10</td>
                    <td>GEN05</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» RETIRADO DE LA EMPRESA</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>2</td>
                    <td>4870</td>
                    <td style = "text-align: left;">EXX RICARDO ALONSO  RIVAS QUINTERO</td>
                    <td>2017-11-08</td>
                    <td>GEN07</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» RETIRADO DE LA EMPRESA</td>
                    <td>33.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
                <tr>
                    <td>3</td>
                    <td>9022</td>
                    <td style = "text-align: left;">LUIS ALBERTO ZAPATA BEITIA</td>
                    <td>2020-09-25</td>
                    <td>GEN53</td>
                    <td></td>
                    <td style = "text-align: left; margin-right: 15px;">» RETIRADO DE LA EMPRESA</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                </tr>
            
            
            
            
        
        
        
        
        
        
        
        
        
        
        <tr>
            <th colspan="3">
                <div class="box-propietario">
                    Total Vehiculos: 70
                </div>
            </th>
        </tr>
    </table>
    
      <footer>
        <hr>
        <p style="float: left; margin-left: 50px;">Sistemas Alfa</p>
        <p style="float: right; margin-right: 50px;">Usuario: </p>
    </footer>   
</body>
</html>