<div class="cards-container">

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option Logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Caja</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option Logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Operaciones</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Cobros</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Trámites</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Almacén</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Taller</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Chapistería</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Llavero</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Cartera</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Tabla</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Gerencia</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Cerrar sesión</h1>
    </div>
  </div>
</div>