<app-header></app-header>
<!-- <body> -->
  <div class="container">
    <div class="carousel-container">
      <div class="carousel">
        <!-- <img class="media-container" [src]="images[currentImageIndex]" [style.opacity]="showImage ? '1' : '0'"> -->
        <video src="../../../../assets/video/conduccion.mp4" autoplay loop muted></video>
      </div>
    </div>
    <div class="options-container">
      <ul>
        <!-- ng-container para aplicar ngIf sin afectar el layout -->
        <ng-container *ngFor="let option of options">
          <li class="options-if" *ngIf="option.enabled">
            <a [href]="option.url">
              <img [src]="option.icon" class="option-icon">
              <span class="option-text">{{ option.name }}</span>
            </a>
          </li>
        </ng-container>
      </ul>
      <div class="logout-container">
        <li class="logout">
          <a (click)="logout()">
            <img [src]="this.logoutIcon" class="logout-icon">
            <span class="logout-text">Cerrar sesión</span>
          </a>
        </li>
      </div>
    </div>  
  </div>
<!-- </body> -->

<!-- ------------------------------------------------------ -->

<!-- <div class="cards-container">

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/10.svg" alt="Option Logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Caja</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/8.svg" alt="Option Logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Operaciones</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/9.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Cobros</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/11.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Trámites</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/12.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Almacén</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/14.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Taller</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/15.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Chapistería</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/17.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Llavero</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/18.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Cartera</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/19.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Tabla</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/21.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Gerencia</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Cerrar sesión</h1>
    </div>
  </div>
</div> -->