.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 25px 50px;
  gap: 20px;
}

/* Contenedor principal del carrusel */
.carousel-container {
  padding-top: 10px;
  width: 100%;                          /* Asegura que use todo el ancho disponible. */
  height: 425px;                        /* Altura fija pero ajustable según diseño. */
  display: flex;                        /* Utiliza flexbox para centrar contenido. */
  justify-content: center;              /* Centra las imágenes horizontalmente. */
  align-items: center;                  /* Centra las imágenes verticalmente. */
  overflow: hidden;                     /* Oculta cualquier contenido que desborde. */
}

/* Div contenedor del carrusel */
.carousel {
  width: 100%;                          /* Toma todo el ancho de su contenedor padre. */
  height: 100%;                         /* Toma toda la altura de su contenedor padre. */
  display: flex;                        /* Habilita flexbox para los elementos internos (img). */
  justify-content: center;              /* Asegura centrado horizontal de las imágenes. */
  align-items: center;                  /* Asegura centrado vertical de las imágenes. */
}

/* Estilos específicos para cada imagen en el carrusel */
.carousel .media-container {
  width: 100%;                          /* Hace que la imagen ocupe el 100% del ancho del contenedor. */
  height: 100%;                     /* Asegura que la altura no exceda la del contenedor. */
  opacity: 0;                           /* Inicialmente las imágenes son invisibles (para transiciones). */
  transition: opacity 1s ease-in-out;   /* Transiciones suaves de opacidad al cambiar imágenes. */
  object-fit: inherit;                  /* Mantiene la relación de aspecto de la imagen sin cortarla. */
  border-radius: 5px;                  /* Aplica bordes redondeados a las imágenes. */
}

.options-container {
  width: 100%;
  height: 300px; /* Altura ajustable según tu diseño */
}

.options-container a {
  text-decoration: none; /* Elimina el subrayado de todos los enlaces dentro del options-container */
  color: inherit; /* Hace que el color del enlace herede el color de su contenedor padre, útil si más tarde decides cambiar los colores globalmente */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Flexbox para un mejor control del layout */
  flex-wrap: wrap; /* Permite elementos de lista envolvente */
  justify-content: center; /* Centra los elementos horizontalmente */
}

.options-if{
  width: calc(33.33% - 20px); /* 33.33% para 3 elementos por fila, ajustando el margen */
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff; /* Fondo claro por defecto, ajustable */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px;
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  text-align: center; /* Texto centrado */
  flex-direction: column; /* Ícono sobre el texto */
  cursor: pointer;
}

.options-if:hover {
  background: #fff8b4; 
}

.option-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.option-text {
  font-size: 16px; /* Ajuste según necesidad */
  color: #333; /* Color del texto */
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout{
  width: 30%; /* 33.33% para 3 elementos por fila, ajustando el margen */
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff; /* Fondo claro por defecto, ajustable */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px;
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  text-align: center; /* Texto centrado */
  flex-direction: column; /* Ícono sobre el texto */
  cursor: pointer;
}

.logout:hover {
  background: #ffcdcd; 
}

.logout-icon {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}

.logout-text {
  font-size: 16px; /* Ajuste según necesidad */
  color: #333; /* Color del texto */
}


/*------------------------------------------------------*/

/*
.cards-container{
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  /* background-color: #FDF7DF; *//*
  background-color: #C0CBE1;
}

.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 25px;
  background-color: #ffffff;
  cursor: pointer; /* Cambia el cursor al pasar el ratón *//*
}

.main-container:hover {
  background-color: #e6e6e6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); /* Agrega una sombra al pasar el ratón *//*
}

.image-container {
  width: 100%;
  height: 200px; /* Altura fija *//*
  border-radius: 30px;
  overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor *//*
  display: flex; /* Utiliza flexbox *//*
  justify-content: center; /* Centra horizontalmente *//*
  align-items: center; /* Centra verticalmente *//*
}

.image-container img {
  width: 60%;
  height: 60%;
  object-fit: contain; /* Mantiene la relación de aspecto *//*
}

.option-name {
  font-size: 24px;
  margin: 0 0;
  text-align: center;
}*/