.cards-container{
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  /* background-color: #FDF7DF; */
  background-color: #C0CBE1;
}

.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 25px;
  background-color: #ffffff;
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.main-container:hover {
  background-color: #e6e6e6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); /* Agrega una sombra al pasar el ratón */
}

.image-container {
  width: 100%;
  height: 200px; /* Altura fija */
  border-radius: 30px;
  overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
  display: flex; /* Utiliza flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.image-container img {
  width: 60%;
  height: 60%;
  object-fit: contain; /* Mantiene la relación de aspecto */
}

.option-name {
  font-size: 24px;
  margin: 0 0;
  text-align: center;
}