<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-brand">
      <img [src]="logoURL" alt="Logo AlfaSoft" class="brand-logo">
      <span class="brand-name">AlfaSoft</span>
    </div>

    <div class="footer-copyright">
      <p>&copy; {{ currentYear }} AlfaSoft. Todos los derechos reservados.</p>
    </div>

    <div class="footer-contact">
      <a routerLink="/contacto" class="contact-link">Contacto</a>
      <p>soporte&#64;softwarealfa.com</p>
      <p>+57 310 415 2923</p>
    </div>
  </div>
</footer>