<div class="modal" *ngIf="isVisible">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <h2 class="title-container" *ngIf="isLoading">Verificando datos del conductor {{ driver }}.</h2>

    <div class="loading-container" *ngIf="!isLoading">
      <div class="display-container" *ngIf="hasPermission">
        <h2 class="title-container">No se puede eliminar el conductor {{ driver }}.</h2>
        <p class="title-container">El conductor {{ driver }} tiene datos en {{ grantedPermission }}.</p>
  
        <div class="options-container">
          <button class="option back" type="button" (click)="closeModal()">
            <span class="material-symbols-outlined" translate="no">
              close
            </span>
            <p class="option-text">Cerrar</p>
          </button>
        </div>
      </div>

      <div class="display-container" *ngIf="deleteSuccesful">
        <h2 class="title-container">Se ha eliminado el conductor {{ driver }}.</h2>
  
        <div class="options-container">
          <button class="option back" type="button" (click)="returnDrivers()">
            <span class="material-symbols-outlined" translate="no">
              close
            </span>
            <p class="option-text">Cerrar</p>
          </button>
        </div>
      </div>
  
      <div class="delete-container" *ngIf="!hasPermission && !deleteSuccesful">
        <h2 class="title-container">{{ doubleValidation ? '¿Está seguro de eliminar el conductor ' : '¿Desea eliminar el conductor '}} {{ driver }}?</h2>
        <div class="options-container">
          
          <button class="option" type="button" (click)="acceptRemove()">
            <span class="material-symbols-outlined" translate="no">
              check
            </span>
            <p class="option-text">{{ doubleValidation ? 'Sí' : 'Aceptar' }}</p>
          </button>
  
          <button class="option back" type="button" (click)="closeModal()">
            <span class="material-symbols-outlined" translate="no">
              close
            </span>
            <p class="option-text">{{ doubleValidation ? 'No' : 'Cancelar' }}</p>
          </button>
  
        </div>
      </div> 
    </div>
    
  </div>
</div>