<mat-dialog-content *ngIf="isLoadingVehicles">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoadingVehicles"
  ></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-content
  class="scrollable-content"
  *ngIf="!isLoadingVehicles && !signatureDriver"
>
  <div class="vehicle-info">
    <mat-form-field class="form-field">
      <mat-label>Vehículo</mat-label>
      <input
        type="text"
        placeholder="Selecciona uno"
        matInput
        [formControl]="vehicles"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="getContractInfo($event)"
      >
        <mat-option [value]="">-</mat-option>
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.unidad"
        >
          {{ option.unidad }} - {{ option.placa }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-progress-bar
      class="loading-bar"
      mode="indeterminate"
      *ngIf="isLoadingvehicleSignatureInfo"
    ></mat-progress-bar>

    <table
      class="info-table"
      *ngIf="!isLoadingvehicleSignatureInfo && vehicleSignatureInfo.permitido !== null"
    >
      <tbody>
        <tr>
          <td class="info-header">Marca</td>
          <td class="info-data">{{ vehicleSignatureInfo.marca }}</td>
        </tr>
        <tr>
          <td class="info-header">Placa</td>
          <td class="info-data">{{ vehicleSignatureInfo.placa }}</td>
        </tr>
        <tr>
          <td class="info-header">Cupo N°</td>
          <td class="info-data">
            {{ vehicleSignatureInfo.cupo }} {{ vehicleSignatureInfo.con_cupo }}
          </td>
        </tr>
        <tr>
          <td class="info-header">Central</td>
          <td class="info-data">{{ vehicleSignatureInfo.central }}</td>
        </tr>
        <tr>
          <td class="info-header">Propietario</td>
          <td class="info-data">{{ vehicleSignatureInfo.propietario_nombre }}</td>
        </tr>
        <tr>
          <td class="info-header">N° de Cuotas</td>
          <td class="info-data">{{ vehicleSignatureInfo.nro_entrega }}</td>
        </tr>
        <tr>
          <td class="info-header">Valor Cuota</td>
          <td class="info-data">{{ vehicleSignatureInfo.cuota_diaria }}</td>
        </tr>
        <tr>
          <td class="info-header">Valor Depositado</td>
          <td class="info-data">{{ vehicleSignatureInfo.valor_deposito }}</td>
        </tr>
        <tr>
          <td class="info-header">Estado</td>
          <td class="info-data">{{ vehicleSignatureInfo.estado }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-divider class="mobile"></mat-divider>

  <div
    class="driver-info"
    *ngIf="!isLoadingvehicleSignatureInfo && vehicleSignatureInfo.permitido !== null"
  >
    <mat-form-field class="form-field">
      <mat-label>Conductor</mat-label>
      <input type="text" matInput [formControl]="drivers" />
    </mat-form-field>

    <table class="info-table">
      <tbody>
        <tr>
          <td class="info-header">Nombre</td>
          <td class="info-data">{{ vehicleSignatureInfo.conductor_nombre }}</td>
        </tr>
        <tr>
          <td class="info-header">N° CC</td>
          <td class="info-data">{{ vehicleSignatureInfo.conductor_cedula }}</td>
        </tr>
        <tr>
          <td class="info-header">Celular</td>
          <td class="info-data">{{ vehicleSignatureInfo.conductor_celular }}</td>
        </tr>
        <tr>
          <td class="info-header">Dirección</td>
          <td class="info-data">{{ vehicleSignatureInfo.conductor_direccion }}</td>
        </tr>
      </tbody>
    </table>

    <mat-divider></mat-divider>

    <div
      class="date-message"
      *ngIf="
        vehicleSignatureInfo.permitido !== null && vehicleSignatureInfo.permitido !== undefined
      "
    >
      <p class="message" *ngIf="vehicleSignatureInfo.permitido === 1">
        <strong class="message-strong">NO PERMITIDO:</strong>
        {{ vehicleSignatureInfo.mensaje }}.
      </p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="signatureDriver">
  <app-signature-pad

  ></app-signature-pad>
</mat-dialog-content>