<div *ngIf="isLoadingVehicles">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoadingVehicles"
  ></mat-progress-bar>
</div>
<div
  class="scrollable-content"
  *ngIf="!isLoadingVehicles && !photoDriver"
>
  <div class="vehicle-info">
    <mat-form-field class="form-field">
      <mat-label>Vehículo</mat-label>
      <input
        type="text"
        placeholder="Selecciona uno"
        matInput
        [formControl]="vehicles"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="getVehiclePhotoInfo($event)"
      >
        <mat-option [value]="">-</mat-option>
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.unidad"
        >
          {{ option.unidad }} - {{ option.placa }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-progress-bar
      class="loading-bar"
      mode="indeterminate"
      *ngIf="isLoadingvehiclePhotoInfo"
    ></mat-progress-bar>

    <table
      class="info-table"
      *ngIf="!isLoadingvehiclePhotoInfo && selectedVehicle"
    >
      <tbody>
        <tr>
          <td class="info-header">Marca</td>
          <td class="info-data">{{ vehiclePhotoInfo.model }}</td>
        </tr>
        <tr>
          <td class="info-header">Placa</td>
          <td class="info-data">{{ vehiclePhotoInfo.plate }}</td>
        </tr>
        <tr>
          <td class="info-header">Cupo N°</td>
          <td class="info-data">
            {{ vehiclePhotoInfo.quota }}
            {{ vehiclePhotoInfo.has_quota }}
          </td>
        </tr>
        <tr>
          <td class="info-header">Central</td>
          <td class="info-data">{{ vehiclePhotoInfo.central }}</td>
        </tr>
        <tr>
          <td class="info-header">Propietario</td>
          <td class="info-data">{{ vehiclePhotoInfo.owner_name }}</td>
        </tr>
        <tr>
          <td class="info-header">N° de Cuotas</td>
          <td class="info-data">{{ vehiclePhotoInfo.nro_delivery }}</td>
        </tr>
        <tr>
          <td class="info-header">Valor Cuota</td>
          <td class="info-data">{{ vehiclePhotoInfo.daily_quota }}</td>
        </tr>
        <tr>
          <td class="info-header">Valor Depositado</td>
          <td class="info-data">{{ vehiclePhotoInfo.deposit_value }}</td>
        </tr>
        <tr>
          <td class="info-header">Estado</td>
          <td class="info-data">{{ vehiclePhotoInfo.state_name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-divider class="mobile"></mat-divider>

  <div
    class="driver-info"
    *ngIf="!isLoadingvehiclePhotoInfo && selectedVehicle"
  >
    <mat-form-field class="form-field">
      <mat-label>Conductor</mat-label>
      <input type="text" matInput [formControl]="drivers" />
    </mat-form-field>

    <table class="info-table">
      <tbody>
        <tr>
          <td class="info-header">Nombre</td>
          <td class="info-data">{{ vehiclePhotoInfo.driver_name }}</td>
        </tr>
        <tr>
          <td class="info-header">N° CC</td>
          <td class="info-data">{{ vehiclePhotoInfo.driver_id }}</td>
        </tr>
        <tr>
          <td class="info-header">Celular</td>
          <td class="info-data">{{ vehiclePhotoInfo.driver_phone }}</td>
        </tr>
        <tr>
          <td class="info-header">Dirección</td>
          <td class="info-data">{{ vehiclePhotoInfo.driver_address }}</td>
        </tr>
      </tbody>
    </table>

    <mat-divider></mat-divider>

    <div class="date-message">
      <p class="message" *ngIf="vehiclePhotoInfo.has_picture === 1">
        <strong class="message-strong-alert">ALERTA:</strong>
        El conductor ya tiene su foto registrada en el sistema.
      </p>
      <p class="message" *ngIf="vehiclePhotoInfo.driver_code === ''">
        <strong class="message-strong">NO PERMITIDO:</strong>
        El vehículo no tiene un conductor asignado. Por favor, asigne un
        conductor para registrar la foto.
      </p>
      <p
        class="message"
        *ngIf="
          vehiclePhotoInfo.has_picture === 0 &&
          vehiclePhotoInfo.driver_code !== ''
        "
      >
        <strong class="message-strong-green">PERMITIDO:</strong>
        El conductor no tiene su foto registrada en el sistema. Puede dar click
        en siguiente para registrar la foto.
      </p>
    </div>
  </div>
</div>
<div *ngIf="photoDriver && !isLoadingVehicles">
  <app-camera [maxPhotos]="1"></app-camera>
</div>