<!-- ! DESARROLLO -->
<!-- <mat-toolbar color="warn" class="toolbar-container">
  <mat-icon>warning</mat-icon>
  <div class="scroll-wrapper">
    <span class="scrolling-text">
      Estás usando una versión en desarrollo. Algunas funciones podrían no estar disponibles, presentar errores o modificarse sin previo aviso.
    </span>
  </div>
</mat-toolbar> -->

<!-- ! MANTENIMIENTO -->
<mat-toolbar class="toolbar-container">
  <mat-icon>warning</mat-icon>
  <div class="scroll-wrapper">
    <span class="scrolling-text">
      Se realizarán trabajos de mantenimiento en el sistema desde el viernes 15 de agosto hasta el martes 18 de agosto. Es posible que durante este período se presenten interrupciones en el servicio. Agradecemos su comprensión y paciencia.
    </span>
  </div>
</mat-toolbar>
