<app-header></app-header>

<div class="main-container">
  <h1 class="title-container">PROPIETARIOS - CONTRATO</h1>
  <h4 class="title-container"  *ngIf="!isLoading">{{ code }} - {{ data.nombre_propietario }}</h4>

  <div class="buttons-container"  *ngIf="!isLoading">

    <button class="select back" type="button" routerLink="/owners">
      <span class="material-symbols-outlined">
        arrow_back
      </span>
      <p class="select-text">Regresar</p>
    </button>

    <button class="select" type="button" (click)="goToOwnerResume(code)">
      <span class="material-symbols-outlined">
        library_books
      </span>
      <p class="select-text">Hoja de Vida</p>
    </button>

    <button class="select" type="button" (click)="goToOwnerVehicles(code)">
      <span class="material-symbols-outlined">
        traffic_jam
      </span>
      <p class="select-text">Vehículos</p>
    </button>

  </div>

  <hr  *ngIf="!isLoading">

  <div class="info-container"  *ngIf="!isLoading">
    <div class="two-container">
      <div class="form-group">
        <label for="razon_social">Razon social:</label><br>
        <input class="large" type="text" id="razon_social" name="razon_social" [value]="data.razon_social" disabled><br>
      </div>

      <div class="form-group">
        <label for="representante">Representante:</label><br>
        <input class="large" type="text" id="representante" name="representante" [value]="data.representante" disabled><br>
      </div>
    </div>

    <div class="two-container">
      <div class="form-group">
        <label for="tipo_documento">Tipo de Documento:</label><br>
        <input class="medium" type="text" id="tipo_documento" name="tipo_documento" [value]="data.tipo_documento" disabled><br>
      </div>

      <div class="form-group">
        <label for="numero_documento">Número de Documento:</label><br>
        <input class="medium" type="text" id="numero_documento" name="numero_documento" [value]="data.numero_documento" disabled><br>
      </div>
    </div>

    <div class="two-container">

      <div class="form-group">
        <label for="sexo">Sexo:</label><br>
        <input type="text" id="sexo" name="sexo" [value]="data.sexo" disabled><br>
      </div>

      <div class="form-group">
        <label for="estado_civil">Estado Civil:</label><br>
        <input type="text" id="estado_civil" name="estado_civil" [value]="data.estado_civil" disabled><br>
      </div>

      <div class="form-group">
        <label for="nacionalidad">Nacionalidad:</label><br>
        <input type="text" id="nacionalidad" name="nacionalidad" [value]="data.nacionalidad" disabled><br>
      </div>

    </div>

    <div class="two-container">
      <div class="form-group">
        <label for="ficha">Ficha Inscripción:</label><br>
        <input class="medium" type="text" id="ficha" name="ficha" [value]="data.ficha" disabled><br>
      </div>

      <div class="form-group">
        <label for="documento">Documento Inscripción:</label><br>
        <input class="medium" type="text" id="documento" name="documento" [value]="data.documento" disabled><br>
      </div>
    </div>

  </div>

  <hr *ngIf="!isLoading">

  <div class="buttons-container" *ngIf="!isLoading">

    <button class="select" type="button" (click)="enableInputs()">
      <span class="material-symbols-outlined" *ngIf="!isEditable">
        edit
      </span>
      <p class="select-text" *ngIf="!isEditable">Editar</p>
      <span class="material-symbols-outlined" *ngIf="isEditable">
        close
      </span>
      <p class="select-text" *ngIf="isEditable">Cancelar</p>
    </button>
  
    <button class="select" type="button" *ngIf="isEditable" (click)="saveData()">
      <span class="material-symbols-outlined">
        check
      </span>
      <p class="select-text">Aceptar</p>
    </button>

  </div>
  <p *ngIf="isLoading">Cargando datos, por favor espere...</p>
</div>

<app-footer></app-footer>