<app-header></app-header>
<div class="main-container">
  <h1 class="title-container">PROPIETARIOS</h1>

  <div class="buttons-container">

    <li class="select">
      <a>
        <span class="select-text">HOJA DE VIDA</span>
      </a>
    </li>

    <li class="select">
      <a>
        <span class="select-text">CONTRATO</span>
      </a>
    </li>

    <li class="select">
      <a>
        <span class="select-text">VEHÍCULOS</span>
      </a>
    </li>

  </div>

  <hr>

  <div class="info-container">
    <div class="form-group">
      <label for="codigo">CÓDIGO:</label><br>
      <input type="number" id="codigo" name="codigo" [value]="data.codigo" disabled><br>
    </div>

    <div class="two-container">
      <div class="form-group">
        <label for="nombre">Nombre:</label><br>
        <input class="large" type="text" id="nombre" name="nombre" [value]="data.nombre_propietario" disabled><br>
      </div>
  
      <div class="form-group form-group-abreviado">
        <label for="abreviado">Abreviado:</label><br>
        <input type="text" id="abreviado" name="abreviado" [value]="data.abreviado" disabled><br>
      </div>
    </div>

    <div class="form-group">
      <label for="ccnit">C.C / N.I.T. :</label><br>
      <input type="text" id="ccnit" name="ccnit" [value]="data.codigo" disabled><br>
      <input type="text" id="ccnit" name="ccnit" [value]="data.codigo" disabled><br>
    </div>

    <div class="form-group">
      <label for="ruc">R.U.C:</label><br>
      <input type="text" id="ruc" name="ruc" [value]="data.ruc" disabled><br>
    </div>

  </div>

  <hr>

  <div class="info-container">
    <div class="form-group">
      <label for="ciudad">Ciudad:</label><br>
      <input type="number" id="ciudad" name="ciudad" [value]="data.ciudad" disabled><br>
    </div>

    <div class="form-group">
      <label for="direccion">Dirección:</label><br>
      <input class="medium" type="text" id="direccion" name="direccion" [value]="data.direccion" disabled><br>
    </div>

    <div class="two-tel-container">
      <div class="form-group">
        <label for="telefono">Teléfono:</label><br>
        <input type="text" id="telefono" name="telefono" [value]="data.telefono" disabled><br>
      </div>
  
      <div class="form-group form-group-abreviado">
        <label for="celulares1">Celulares:</label><br>
        <input type="text" id="celulares1" name="celulares1" [value]="data.celular" disabled><br>
        <input type="text" id="celulares2" name="celulares2" [value]="data.celular" disabled><br>
      </div>
      
    </div>

    <div class="form-group">
      <label for="representante">Representante:</label><br>
      <input class="medium" type="text" id="representante" name="representante" [value]="data.representante" disabled><br>
    </div>

    <div class="form-group">
      <label for="contacto">Contacto:</label><br>
      <input class="medium" type="text" id="contacto" name="contacto" [value]="data.contacto" disabled><br>
    </div>

    <div class="form-group">
      <label for="correos">Correos:</label><br>
      <input class="medium" type="text" id="correos1" name="correos1" [value]="data.correo" disabled><br>
      <input class="medium" type="text" id="correos2" name="correos2" [value]="data.correo" disabled><br>
    </div>
  </div>

  <hr>

  <button type="button" (click)="enableInputs()">Editar</button>
  <button type="button" (click)="disableInputs()">Aceptar</button>
</div>
<app-footer></app-footer>