.main-container {
  min-height: 90vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  user-select: none;
}

.title-container {
  margin-bottom: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.select{
  width: 20%;
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff; /* Fondo claro por defecto, ajustable */
  border-radius: 10px; /* Bordes redondeados */
  border: 1px solid #ccc;
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  text-align: center; /* Texto centrado */
  cursor: pointer;
  position: relative;
}

.select span.material-symbols-outlined {
  margin-right: auto;  /* Empuja el icono a la izquierda */
  font-size: 3.5vh;
}

.select.selected {
  background: #bcd1ec; /* Cambia este color según sea necesario */
}

.select:hover {
  /* background: #fff8b4;  */
  background: #bcd1ec;
}

.back:hover {
  background: #ffcdcd; 
}

.select-text {
  flex-grow: 1;
  text-align: center;  /* Asegura que el texto esté centrado */
  font-size: 15px; /* Ajuste según necesidad */
  color: #333; /* Color del texto */
}

.table-container {
  margin: 20px auto;
  padding: 10px;
  width: 95%;
  overflow-x: auto;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; /* Adjust to fixed if widths need to be absolute */
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  word-wrap: break-word; /* This will handle long text wrapping */

}

th {
  background-color: #f4f4f4;
  font-weight: bold;
  font-size:small;
}

td {
  font-size: small;
  user-select: all;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}