.main-container {
  min-height: 90vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  user-select: none;
}

.table-container {
  margin: 20px auto;
  padding: 10px;
  width: 98%;
  overflow-x: auto;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; /* Adjust to fixed if widths need to be absolute */
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  word-wrap: break-word; /* This will handle long text wrapping */

}

th {
  background-color: #f4f4f4;
  font-weight: bold;
  font-size:small;
}

td {
  font-size: small;
  user-select: all;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}