<h2 mat-dialog-title>Bajar Conductor del Vehículo</h2>
<mat-divider></mat-divider>
<mat-dialog-content *ngIf="isLoadingVehicles || isLoadingCreate">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-content
  class="scrollable-content"
  *ngIf="!isLoadingVehicles && !isLoadingCreate"
>
  <div class="vehicle-info">
    <mat-form-field class="form-field">
      <mat-label>Vehículo</mat-label>
      <input
        type="text"
        placeholder="Selecciona uno"
        matInput
        [formControl]="vehicles"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (opened)="resetAutocomplete()"
        (optionSelected)="vehicleSearch($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.vehicle_number"
        >
          {{ option.vehicle_number }} - {{ option.vehicle_plate }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-progress-bar
      class="loading-bar"
      mode="indeterminate"
      *ngIf="isLoadingVehicleInfo"
    ></mat-progress-bar>

    <table class="info-table" *ngIf="!isLoadingVehicleInfo && selectedVehicle">
      <tbody>
        <tr>
          <td class="info-header">Unidad</td>
          <td class="info-data">{{ vehicleData.numero }}</td>
        </tr>
        <tr>
          <td class="info-header">Marca</td>
          <td class="info-data">{{ vehicleData.marca }}</td>
        </tr>
        <tr>
          <td class="info-header">Placa</td>
          <td class="info-data">{{ vehicleData.placa }}</td>
        </tr>
        <tr>
          <td class="info-header">Cupo N°</td>
          <td class="info-data">
            {{ vehicleData.cupo }} {{ vehicleData.con_cupo }}
          </td>
        </tr>
        <tr>
          <td class="info-header">N° de Cuotas</td>
          <td class="info-data">{{ vehicleData.nro_entrega }}</td>
        </tr>
        <tr>
          <td class="info-header">Valor Cuota</td>
          <td class="info-data">{{ vehicleData.cuota_diaria }}</td>
        </tr>
        <tr>
          <td class="info-header">Estado</td>
          <td class="info-data">{{ vehicleData.estado }}</td>
        </tr>
        <tr>
          <td class="info-header">Propietario</td>
          <td class="info-data">{{ vehicleData.propietario }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-divider class="mobile"></mat-divider>

  <div class="driver-info" *ngIf="!isLoadingVehicleInfo && selectedVehicle">
    <mat-form-field class="form-field">
      <mat-label>Conductor</mat-label>
      <input type="text" matInput [formControl]="drivers" />
    </mat-form-field>

    <table class="info-table">
      <tbody>
        <tr>
          <td class="info-header">Nombre</td>
          <td class="info-data">{{ driverData.nombre }}</td>
        </tr>
        <tr>
          <td class="info-header">N° CC</td>
          <td class="info-data">{{ driverData.cedula }}</td>
        </tr>
        <tr>
          <td class="info-header">Celular</td>
          <td class="info-data">{{ driverData.telefono }}</td>
        </tr>
        <tr>
          <td class="info-header">Dirección</td>
          <td class="info-data">{{ driverData.direccion }}</td>
        </tr>
        <tr>
          <td class="info-header">Licencia</td>
          <td class="info-data">{{ driverData.licencia_numero }}</td>
        </tr>
        <tr>
          <td class="info-header">Vencimiento Licencia</td>
          <td class="info-data">{{ driverData.licencia_vencimiento }}</td>
        </tr>
      </tbody>
    </table>

    <mat-divider></mat-divider>

    <div class="date-message">
      <div class="liquidation-container">
        <mat-form-field class="full-width">
          <mat-label>Motivo</mat-label>
          <input matInput [formControl]="reason" required />
          <mat-error *ngIf="reason.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>
        <!-- <div class="example-button-container"> -->
        <button
          mat-mini-fab
          class="liquidation-button"
          aria-label="Liquidación de Cuenta"
          matTooltip="Abrir Liquidación de Cuenta"
          (click)="openSettlementOfAccountDialog()"
        >
          <mat-icon>payments</mat-icon>
        </button>
        <!-- </div> -->
      </div>

      <mat-form-field class="full-width">
        <mat-label>Detalle</mat-label>
        <textarea matInput [formControl]="description"></textarea>
      </mat-form-field>
      <!-- <mat-error *ngIf="description.invalid && description.touched">
        Debes ingresar una descripción.
      </mat-error> -->
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>
