/* Estilos para el contenido */
.content {
  margin-top: 60px; /* Ajusta según la altura de tu barra de navegación */
  margin-left: 250px; /* Ajusta según el ancho de tu barra lateral */
  margin-right: 90px;
  padding: 20px; /* Agrega espaciado interno si es necesario */
}
