.container {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vh 5vh 0vh 5vh;
}

.sections-container {
  display: flex;
  justify-content: space-between; /* Distribuye espacio entre los elementos */
  width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
}

.two-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea los elementos a la derecha */
  width: 48%; /* Ajusta el ancho según sea necesario */
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%; /* Ajusta el ancho según sea necesario */
  margin-bottom: 20px;
}

.two-container .section-container {
  width: 100%; /* Asegura que las secciones dentro de .two-container ocupen el ancho completo */
}

.options-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.option {
  width: 90%;
  height: 8vh;
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: relative; /* Permite posicionamiento absoluto de elementos hijos */
}

.option span.material-symbols-outlined {
  margin-right: auto; /* Empuja el icono a la izquierda */
  font-size: 4vh;
}

.option-text {
  flex-grow: 1;
  text-align: center; /* Asegura que el texto esté centrado */
}

.option:hover {
  background: #bcd1ec;
}
