<h2 mat-dialog-title>Crear Cuenta de Diario al Conductor</h2>
<mat-divider></mat-divider>
<mat-dialog-content *ngIf="isLoadingVehicles || isLoadingCreate">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-content
  class="scrollable-content"
  *ngIf="!isLoadingVehicles && !isLoadingCreate"
>
  <div class="vehicle-info">
    <mat-form-field class="form-field">
      <mat-label>Vehículo</mat-label>
      <input
        type="text"
        placeholder="Selecciona uno"
        matInput
        [formControl]="vehicles"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (opened)="resetAutocomplete()"
        (optionSelected)="vehicleSearch($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.unidad"
        >
          {{ option.unidad }} - {{ option.placa }} - {{ option.nro_cupo }} -
          {{ option.propietario }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-progress-bar
      class="loading-bar"
      mode="indeterminate"
      *ngIf="isLoadingVehicleInfo"
    ></mat-progress-bar>

    <table class="info-table" *ngIf="!isLoadingVehicleInfo && selectedVehicle">
      <tbody>
        <tr>
          <td class="info-header">Unidad</td>
          <td class="info-data">{{ vehicleData.numero }}</td>
        </tr>
        <tr>
          <td class="info-header">Marca</td>
          <td class="info-data">{{ vehicleData.marca }}</td>
        </tr>
        <tr>
          <td class="info-header">Placa</td>
          <td class="info-data">{{ vehicleData.placa }}</td>
        </tr>
        <tr>
          <td class="info-header">Cupo N°</td>
          <td class="info-data">
            {{ vehicleData.cupo }} {{ vehicleData.con_cupo }}
          </td>
        </tr>
        <tr>
          <td class="info-header">N° de Cuotas</td>
          <td class="info-data">{{ vehicleData.nro_entrega }}</td>
        </tr>
        <tr>
          <td class="info-header">Valor Cuota</td>
          <td class="info-data">{{ vehicleData.cuota_diaria }}</td>
        </tr>
        <tr>
          <td class="info-header">Estado</td>
          <td class="info-data">{{ vehicleData.estado }}</td>
        </tr>
        <tr>
          <td class="info-header">Propietario</td>
          <td class="info-data">{{ vehicleData.propietario }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-divider class="mobile"></mat-divider>

  <div class="driver-info" *ngIf="!isLoadingVehicleInfo && selectedVehicle">
    <mat-form-field class="form-field">
      <mat-label>Conductor</mat-label>
      <input type="text" matInput [formControl]="drivers" />
    </mat-form-field>

    <table class="info-table">
      <tbody>
        <tr>
          <td class="info-header">Nombre</td>
          <td class="info-data">{{ driverData.nombre }}</td>
        </tr>
        <tr>
          <td class="info-header">N° CC</td>
          <td class="info-data">{{ driverData.cedula }}</td>
        </tr>
        <tr>
          <td class="info-header">Celular</td>
          <td class="info-data">{{ driverData.telefono }}</td>
        </tr>
        <tr>
          <td class="info-header">Dirección</td>
          <td class="info-data">{{ driverData.direccion }}</td>
        </tr>
        <tr>
          <td class="info-header">Licencia</td>
          <td class="info-data">{{ driverData.licencia_numero }}</td>
        </tr>
        <tr>
          <td class="info-header">Vencimiento Licencia</td>
          <td class="info-data">{{ driverData.licencia_vencimiento }}</td>
        </tr>
      </tbody>
    </table>

    <mat-divider></mat-divider>

    <div class="loading-validations" *ngIf="reCheckedValidations">
      <mat-progress-bar
        class="loading-bar"
        mode="indeterminate"
        *ngIf="reCheckedValidations"
      ></mat-progress-bar>
    </div>
    <div
      class="date-message"
      *ngIf="checkedValidations && !reCheckedValidations"
    >
      <mat-form-field
        class="form-field date-form"
        (click)="datepicker.open()"
        *ngIf="
          authorizedVehicle ||
          (validations.vehicle_bill &&
            validations.vehicle_driver &&
            validations.vehicle_state)
        "
      >
        <input
          matInput
          placeholder="Selecciona una fecha inicial"
          [matDatepicker]="datepicker"
          [formControl]="selectedDate"
          [max]="maxDate"
          (dateChange)="validationDateChange($event)"
          required
          readonly
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
      <mat-error *ngIf="selectedDate.invalid && selectedDate.touched">
        Debes seleccionar una fecha.
      </mat-error>

      <mat-form-field class="text-area" *ngIf="authorizedVehicle">
        <mat-label>Descripción</mat-label>
        <textarea matInput [formControl]="description" required></textarea>
      </mat-form-field>
      <!-- <mat-error *ngIf="description.invalid && description.touched">
        Debes ingresar una descripción.
      </mat-error> -->

      <p class="message" *ngIf="!authorizedVehicle">
        <strong class="message-strong">NO PERMITIDO:</strong>
      </p>

      <p class="message" *ngIf="validations.vehicle_bill && !authorizedVehicle">
        El vehículo ya tiene una cuenta de cobro para la fecha ingresada.
      </p>

      <p
        class="message"
        *ngIf="!validations.vehicle_driver && !authorizedVehicle"
      >
        El vehículo no tiene un conductor asignado.
      </p>

      <p
        class="message"
        *ngIf="!validations.vehicle_state && !authorizedVehicle"
      >
        El vehículo no está activo.
      </p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-button
    cdkFocusInitial
    [disabled]="
      !selectedVehicle ||
      isLoadingVehicleInfo ||
      !checkedValidations ||
      !authorizedVehicle ||
      selectedDate.invalid ||
      reCheckedValidations ||
      isLoadingCreate
    "
    (click)="openConfirmationDialog()"
  >
    Confirmar
  </button>
</mat-dialog-actions>
