<header>
  <div class="info-company">
    <div class="logo">
      <img src="https://uploads-ssl.webflow.com/6291afaf5676f4664ddf0566/6291afaf5676f4542adf05db_logo.png" alt="Logo de AlfaSoft">
    </div>
    <!-- <h1>Total Taxi</h1> -->
  </div>  
  <nav>
    <button>
      <span class="material-symbols-outlined">
        home
      </span>
      <p>Inicio</p>
    </button>
    <button>
      <span class="material-symbols-outlined">
        local_taxi
      </span>
      <p>Vehículos</p>
    </button>
    <button>
      <span class="material-symbols-outlined">
        badge
      </span>
      <p>Conductores</p>
    </button>
    <button>
      <span class="material-symbols-outlined">
        garage
      </span>
      <p>Estado de flota</p>
    </button>
    <button>
      <span class="material-symbols-outlined">
        garage
      </span>
      <p>Informe de cuotas pagas</p>
    </button>
    <button (click)="logout()">
      <span class="material-symbols-outlined">
        logout
      </span>
      <p>Cerrar sesión</p>
    </button>
  </nav>
</header>
