header {
  display: flex; /* Establece el contenedor como un flex container */
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
  /* arriba | derecha | abajo | izquierda */
  padding: 2vh 2vh 2vh 2vh;
  background-color: white; /* Color de fondo del header */
  color: black; /* Color del texto */
}

h1 {
  margin: 0; /* Quita el margen del título */
  font-size: 28px;
  cursor: pointer;
}

.info-company {
  display: flex; /* Establece el contenedor como un flex container */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: flex-start;
  padding-left: 1%;
  padding-right: 6vh;
}

.info-company .logo {
  height: auto; /* Permite que la altura se ajuste automáticamente */
}

.info-company .logo img {
  width: 20vh; /* Ajusta el tamaño de la imagen al contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  cursor: pointer;
}

nav {
  display: flex; /* Establece el nav como un flex container */
}

nav span {
  font-size: 4vh;
}

nav button {
  margin-left: 15px; /* Agrega un margen entre los enlaces */
  margin-right: 15px; /* Agrega un margen entre los enlaces */
  color: black; /* Color del texto */
  text-decoration: none; /* Quita la decoración del texto */
  background-color: white; /* Color de fondo del botón */
  border: none; /* Quita el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  display: flex;
  align-items: center;
  position: relative; /* Posiciona de forma relativa para el texto */
}

nav p {
  margin-left: 1px;
  margin-top: 2px;
  margin-bottom: 0; /* Quita el margen inferior del párrafo */
  font-size: 16px;
  display: none;
  position: absolute;
  top: 100%; /* Posiciona el texto debajo del botón */
  left: 50%; /* Centra el texto horizontalmente */
  transform: translateX(-50%); /* Ajusta la posición para que esté centrado */
  background-color: rgb(236, 236, 236); /* Fondo blanco para el texto */
  padding: 5px; /* Espaciado interno para el texto */
  border-radius: 3px; /* Bordes redondeados para el fondo del texto */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para el texto */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  opacity: 0; /* Oculta el texto inicialmente */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Añade una transición para la opacidad y la posición */
}

nav button:hover {
  color: #FE0108; /* Cambia el color del texto al pasar el ratón */
}

nav button:hover p {
  display: block;
  opacity: 1; /* Muestra el texto */
  transform: translateX(-50%) translateY(10px); /* Mueve el texto hacia abajo */
}

.user-info {
  display: flex;
}

.user-info p {
  font-size: 2.5vh;
  padding-right: 1vh;
  cursor: none;
}

.user-info p:hover {
  color: #FE0108;
}

.user-info img {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}