<header>
  <h1 class="title">Nombre-de-la-empresa</h1>
  <nav>
    <button>
      <span class="material-symbols-outlined">
        home
      </span>
      <p>INICIO</p>
    </button>
    <button>
      <span class="material-symbols-outlined">
        local_taxi
      </span>
      <p>VEHÍCULOS</p>
    </button>
    <button>
      <span class="material-symbols-outlined">
        badge
      </span>
      <p>CONDUCTORES</p>
    </button>
    <button>
      <span class="material-symbols-outlined">
        garage
      </span>
      <p>ESTADO DE FLOTA</p>
    </button>
    <button>
      <span class="material-symbols-outlined">
        logout
      </span>
      <p>CERRAR SESIÓN</p>
    </button>
  </nav>
</header>
