<header>
  <div class="info-company">
    <div class="logo" routerLink="/users-home">
      <img src="https://uploads-ssl.webflow.com/6291afaf5676f4664ddf0566/6291afaf5676f4542adf05db_logo.png" alt="Logo de AlfaSoft">
    </div>
    <!-- <h1>Total Taxi</h1> -->
  </div>  
  <nav>
    <button routerLink="/users-home">
      <span class="material-symbols-outlined" translate="no">
        home
      </span>
      <p>Inicio</p>
    </button>
    <button *ngIf="this.isHome && this.permisos.user_data.tarea01 && !this.ownerView" routerLink="/owners">
      <span class="material-symbols-outlined" translate="no">
        apartment
      </span>
      <p>Propietarios</p>
    </button>
    <button *ngIf="this.isHome && this.permisos.user_data.tarea02 && !this.ownerView" routerLink="/drivers">
      <span class="material-symbols-outlined" translate="no">
        badge
      </span>
      <p>Conductores</p>
    </button>
    <button *ngIf="this.isHome && this.permisos.user_data.tarea03 && !this.ownerView" routerLink="/vehicles">
      <span class="material-symbols-outlined" translate="no">
        local_taxi
      </span>
      <p>Vehículos</p>
    </button>
    <button *ngIf="this.isHome && this.permisos.user_data.tarea0 && !this.ownerView" routerLink="/statevehiclefleet">
      <span class="material-symbols-outlined" translate="no">
        garage
      </span>
      <p>Estado de flota</p>
    </button>
    <button *ngIf="this.isHome && this.permisos.user_data.tarea05 && !this.ownerView" routerLink="/feespaid">
      <span class="material-symbols-outlined" translate="no">
        payments
      </span>
      <p>Informe de cuotas pagas</p>
    </button>
    <button (click)="logout()">
      <span class="material-symbols-outlined" translate="no">
        logout
      </span>
      <p>Cerrar sesión</p>
    </button>
  </nav>
  <div class="user-info">
    <p>{{this.permisos.user_data.nombre}}</p>
    <img [src]="imgUser" alt="Foto de perfil">
  </div>
</header>