<app-header></app-header>
<div class="container">
  <h1>RECLAMOS</h1>

  <div class="sections-container">
    
    <div class="section-container">
      <h2>COLISIONES</h2>
      <div class="options-container">
        <ng-container *ngFor="let option of colisiones">
          <a class="option" [href]="option.url">
            <span class="material-symbols-outlined">
              {{ option.icon }}
            </span>
            <span class="option-text">{{ option.name }}</span>
          </a>
        </ng-container>
      </div>
    </div>

    <div class="section-container">
      <h2>PANAPASS</h2>
      <div class="options-container">
        <ng-container *ngFor="let option of panapass">
          <a class="option" [href]="option.url">
            <span class="material-symbols-outlined">
              {{ option.icon }}
            </span>
            <span class="option-text">{{ option.name }}</span>
          </a>
        </ng-container>
      </div>
    </div>

  </div>
</div>