.main-container {
  min-height: 90vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  user-select: none;
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.select{
  width: 40%; /* 33.33% para 3 elementos por fila, ajustando el margen */
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff; /* Fondo claro por defecto, ajustable */
  border: 1px solid #ccc;
  border-radius: 10px; /* Bordes redondeados */
  padding: 30px;
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  text-align: center; /* Texto centrado */
  flex-direction: column; /* Ícono sobre el texto */
  cursor: pointer;
}

.select.selected {
  background: #bcd1ec; /* Cambia este color según sea necesario */
}

.select:hover {
  /* background: #fff8b4;  */
  background: #bcd1ec;
}

.select-text {
  font-size: 20px; /* Ajuste según necesidad */
  color: #333; /* Color del texto */
}

.cuadro-seleccion {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 20vh;
  max-height: 25vh;
  width: 40%;
  border-radius: 10px;
  overflow-y: scroll;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cuadro-seleccion .checkbox-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start; /* Alinea el contenido al inicio (izquierda) */
  padding: 5px 0; /* Añadir algo de espaciado vertical */
}

.cuadro-seleccion .checkbox-container:hover {
  background: #bcd1ec;
}

.cuadro-seleccion label {
  padding-left: 5px;
}