.main-container {
  min-height: 92vh;
  padding: 2vh 20px 0px;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-container h1 {
  font-weight: bold;
  font-size: 2rem;
}

.inputs-container {
  display: flex;
  justify-content: space-around;
}

.field-input {
  width: 30%;
  height: 70px;
}

::ng-deep .field-input .mat-mdc-form-field-flex {
  height: 100%;
  align-items: center;
}

::ng-deep .field-input .mat-mdc-icon-button {
  transform: scale(1);
} 

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.buttons-container button {
  /* background-color: #e7eeff; */
  height: 46px;
  width: 100%;
}

form {
  padding-bottom: 20px;
}

.mat-elevation-z8 {
  margin: 0px 22px 22px 22px;
}

.table-scroll-container {
  overflow-x: auto; 
  position: relative; 
}

th {
  padding: 0;
  text-align: center;
}

th.mat-sort-header .mat-sort-header-container {
  text-align: center;
  justify-content: center;
}

th.mat-header-cell {
  text-align: center;
  justify-content: center;
}

td.mat-cell {
  text-align: center;
}

td {
  padding: 0 8px;
}

th:first-child,
td:first-child {
  padding-left: 20px; 
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions-container button {
  width: 48px;
  height: 48px;
  min-width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .main-container {
    padding: 2vh 20px;
  }

  .inputs-container {
    flex-direction: column;
    align-items: center;
  }

  .field-input {
    width: 100%;
    height: 100%;
  }

  .buttons-container {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .buttons-container button {
    width: 100%;
    margin-bottom: 10px;
  }

  .mat-elevation-z8 {
    margin: 0px 0px;
  }

  ::ng-deep .mat-elevation-z8 .mat-mdc-paginator-page-size {
    margin-bottom: 8px;
  }

  ::ng-deep .mat-elevation-z8 .mat-mdc-table thead {
    padding: 8px;
  }
}