<div class="main-container">
  <div class="title-container">
    <h1 class="title">Inspecciones</h1>
  </div>

  <form [formGroup]="inspectionForm" *ngIf="!isLoading">
    <div class="inputs-container">
      <mat-form-field class="field-input">
        <mat-label>Propietarios</mat-label>
        <input
          type="text"
          placeholder="Selecciona un propietario"
          matInput
          formControlName="propietario"
          [matAutocomplete]="auto1"
        />
        <mat-autocomplete
          #auto1="matAutocomplete"
          [displayWith]="displayOwnerName"
        >
          <mat-option [value]=""> - </mat-option>
          <mat-option
            *ngFor="let option of optionsOwners | async"
            [value]="option"
          >
            {{ option.name }} - {{ option.id }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="field-input">
        <mat-label>Vehículos</mat-label>
        <input
          type="text"
          placeholder="Selecciona un vehículo"
          matInput
          formControlName="vehiculo"
          [matAutocomplete]="auto3"
        />
        <mat-autocomplete
          #auto3="matAutocomplete"
          [displayWith]="displayVehiclePlate"
        >
          <mat-option [value]=""> - </mat-option>
          <mat-option
            *ngFor="let option of optionsVehicles | async"
            [value]="option"
          >
            {{ option.numero_unidad }} - {{ option.placa_vehiculo }} -
            {{ option.marca }} {{ option.linea }} {{ option.modelo }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="field-input">
        <mat-label>Conductor</mat-label>
        <input
          type="text"
          placeholder="Selecciona un conductor"
          matInput
          formControlName="conductor"
          [matAutocomplete]="auto2"
        />
        <mat-autocomplete
          #auto2="matAutocomplete"
          [displayWith]="displayDriverName"
        >
          <mat-option [value]=""> - </mat-option>
          <mat-option
            *ngFor="let option of optionsDrivers | async"
            [value]="option"
          >
            {{ option.nombre_conductor }} - {{ option.cedula }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="inputs-container">
      <mat-form-field class="field-input" (click)="datepicker.open()">
        <input
          matInput
          placeholder="Selecciona una fecha inicial"
          [matDatepicker]="datepicker"
          [max]="maxDate"
          readonly
          formControlName="fechaInicial"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-error
          *ngIf="inspectionForm.get('fechaInicial')?.hasError('required')"
        >
          Fecha inicial es requerida.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field-input" (click)="datepicker2.open()">
        <input
          matInput
          placeholder="Selecciona una fecha final"
          [matDatepicker]="datepicker2"
          [max]="maxDate"
          readonly
          formControlName="fechaFinal"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker2></mat-datepicker>
        <mat-error
          *ngIf="inspectionForm.get('fechaFinal')?.hasError('required')"
        >
          Fecha final es requerida.
        </mat-error>
      </mat-form-field>

      <div class="field-input buttons-container">
        <button mat-raised-button class="button" (click)="getTableData()">
          Buscar
        </button>
        <button mat-raised-button class="button" (click)="getPdfData()">
          Reporte
        </button>
        <button
          mat-raised-button
          class="button"
          (click)="openDialogInspectionAdd()"
        >
          Nueva
        </button>
      </div>
    </div>
  </form>

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoadingData"
  ></mat-progress-bar>

  <div
    class="mat-elevation-z8"
    *ngIf="!isLoading && dataSource.data.length > 0"
  >
    <div class="table-scroll-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- fecha_hora Column -->
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
          <td mat-cell *matCellDef="let row">{{ row.Fecha }}</td>
        </ng-container>

        <!-- tipo_inspeccion Column -->
        <ng-container matColumnDef="Tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
          <td mat-cell *matCellDef="let row">{{ row.Tipo }}</td>
        </ng-container>

        <!-- descripcion Column -->
        <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
          <td mat-cell *matCellDef="let row">{{ row.Descripcion }}</td>
        </ng-container>

        <!-- unidad Column -->
        <ng-container matColumnDef="Unidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidad</th>
          <td mat-cell *matCellDef="let row">{{ row.Unidad }}</td>
        </ng-container>

        <!-- placa Column -->
        <ng-container matColumnDef="Placa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Placa</th>
          <td mat-cell *matCellDef="let row">{{ row.Placa }}</td>
        </ng-container>

        <!-- nombre_usuario Column -->
        <ng-container matColumnDef="Usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
          <td mat-cell *matCellDef="let row">{{ row.Usuario }}</td>
        </ng-container>

        <ng-container matColumnDef="Estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let row">
            {{
              row.Estado == "PEN"
                ? "PENDIENTE"
                : row.Estado == "SUS"
                ? "SUSPENDIDO"
                : row.Estado == "FIN"
                ? "FINALIZADO"
                : "DESCONOCIDO"
            }}
          </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row" class="actions-column">
            <div class="actions-container">
              <button mat-icon-button matTooltip="Editar inspección">
                <mat-icon>edit</mat-icon>
              </button>

              <button
                mat-icon-button
                color="primary"
                matTooltip="Ver documento"
              >
                <mat-icon>description</mat-icon>
              </button>

              <button mat-icon-button color="accent" matTooltip="Ver imagen">
                <mat-icon>image</mat-icon>
              </button>

              <button mat-icon-button color="warn" matTooltip="Ver formulario">
                <mat-icon>assignment</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{
            'row-suspended': row.Estado === 'SUS',
            'row-pending': row.Estado === 'PEN'
          }"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="16">
            <!-- Updated colspan to match number of columns -->
            <!-- <mat-progress-bar
              mode="indeterminate"
            ></mat-progress-bar>
            <span>No se encontraron resultados</span> -->
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="[8, 16, 32, 100]"
      aria-label="Selecciona la cantidad de registros por página"
    ></mat-paginator>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
