.container {
  
  height: 80vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* padding: 10vh ; */
  padding: 10vh 5vh 0vh 5vh;
  gap: 20px;
  user-select: none;
}

/* Contenedor principal del carrusel */
.carousel-container {
  padding-top: 10px;
  width: 100%;
  height: 425px;  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; /* Añadir posición relativa al contenedor principal */
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Añadir posición relativa para que el botón pueda posicionarse dentro del carousel */
}

.right-container {
  position: absolute;
  background: #ffffff5e;
  border-radius: 10px;
  cursor: pointer;
  bottom: 45%; /* Ajusta la distancia desde la parte inferior */
  right: 10px; /* Ajusta la distancia desde la parte derecha */
  z-index: 10; /* Asegura que el botón esté por encima del video */
}

.left-container {
  position: absolute;
  background: #ffffff5e;
  border-radius: 10px;
  cursor: pointer;
  bottom: 45%; /* Ajusta la distancia desde la parte inferior */
  left: 10px; /* Ajusta la distancia desde la parte derecha */
  z-index: 10; /* Asegura que el botón esté por encima del video */
}

.alternate-media:hover {
  background: #ffffff71; /* Cambia el color de fondo al pasar el ratón */
  border-radius: 10px; /* Ajusta los bordes redondeados al pasar el ratón */
}

.alternate-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container .media-icon {
  transform: scaleX(-1);
}

.media-icon {
  padding: 5px;
  width: 25px; /* Ajusta el tamaño del ícono según sea necesario */
  height: 25px; /* Ajusta el tamaño del ícono según sea necesario */
}


/* Estilos específicos para cada imagen en el carrusel */
.carousel .media-container {
  width: 100%;                          /* Hace que la imagen ocupe el 100% del ancho del contenedor. */
  height: 100%;                     /* Asegura que la altura no exceda la del contenedor. */
  opacity: 0;                           /* Inicialmente las imágenes son invisibles (para transiciones). */
  transition: opacity 1s ease-in-out;   /* Transiciones suaves de opacidad al cambiar imágenes. */
  object-fit: inherit;                  /* Mantiene la relación de aspecto de la imagen sin cortarla. */
  border-radius: 5px;                  /* Aplica bordes redondeados a las imágenes. */
}

.options-container {
  width: 100%;
  /* height: 60%; */
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.option {
  width: 100%;
  height: 6vh;
  margin: 6px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #888;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 15px;
  position: relative;  /* Permite posicionamiento absoluto de elementos hijos */
}

.option span.material-symbols-outlined {
  margin-right: auto;  /* Empuja el icono a la izquierda */
  font-size: 3.5vh;
}

.option-text {
  flex-grow: 1;
  text-align: center;  /* Asegura que el texto esté centrado */
}

.option:hover {
  background: #bcd1ec;
}

.option:disabled {
  background: #e0e0e0;
  color: #888;
  cursor: not-allowed;
  border-color: #aaa;
}

@media (max-width: 1024px){

  .container {
    height: 85vh;
    padding: 8vh 3vh 0vh 3vh;
  }

  .options-container {
    justify-content: normal;
  }

  .option {
    width: 90%;
    margin: 10px 0;
    font-size: 18px;
  }
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .options-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {

  .container {
    height: 85vh;
    min-height: 100%;
    padding: 5vh 3vh 3vh 3vh;
  }

  .option {
    width: 90%;
    font-size: 14px;
    padding: 8px;
  }

  .option span.material-symbols-outlined {
    font-size: 2.5vh;
  }

  .option-text {
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*------------------------------------------------------*/

/*
.cards-container{
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  /* background-color: #FDF7DF; *//*
  background-color: #C0CBE1;
}

.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 25px;
  background-color: #ffffff;
  cursor: pointer; /* Cambia el cursor al pasar el ratón *//*
}

.main-container:hover {
  background-color: #e6e6e6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); /* Agrega una sombra al pasar el ratón *//*
}

.image-container {
  width: 100%;
  height: 200px; /* Altura fija *//*
  border-radius: 30px;
  overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor *//*
  display: flex; /* Utiliza flexbox *//*
  justify-content: center; /* Centra horizontalmente *//*
  align-items: center; /* Centra verticalmente *//*
}

.image-container img {
  width: 60%;
  height: 60%;
  object-fit: contain; /* Mantiene la relación de aspecto *//*
}

.option-name {
  font-size: 24px;
  margin: 0 0;
  text-align: center;
}*/