<div class="main-container">
  <div class="title-container">
    <h1 class="title">Conductores</h1>
    <p class="subtitle" *ngIf="!isLoading">
      <!-- TODO: Cambiar a la info que traiga el endpoint -->
      Total de Conductores: {{ dataSource.data.length }}
    </p>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

  <div [hidden]="isLoading">
    <div class="inputs-container">
      <mat-form-field class="field-input search-field">
        <mat-label>Buscar</mat-label>
        <input
          matInput
          [formControl]="searchControl"
          placeholder="Buscar..."
          #input
        />
        <button
          mat-icon-button
          matSuffix
          aria-label="Clear"
          (click)="searchControl.setValue('')"
          *ngIf="input.value"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="field-input filter-field">
        <mat-label>Filtro</mat-label>
        <mat-select [formControl]="filterControl" (selectionChange)="listData($event)">
          <mat-option value="">Todos</mat-option>
          <mat-option value="1">Con unidad</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="field-input filter-field">
        <button
          mat-raised-button
          class="directory-button"
          (click)="openExternalLink()"
        >
          <mat-icon>print</mat-icon>
          Ver Directorio
        </button>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <div class="table-scroll-container">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Codigo Column -->
          <ng-container matColumnDef="Codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CÓDIGO</th>
            <td mat-cell *matCellDef="let row">{{ row.codigo }}</td>
          </ng-container>

          <!-- Unidad Column -->
          <ng-container matColumnDef="Unidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>UNIDAD</th>
            <td mat-cell *matCellDef="let row">{{ row.unidad }}</td>
          </ng-container>

          <!-- Conductor Column -->
          <ng-container matColumnDef="Conductor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CONDUCTOR</th>
            <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
          </ng-container>

          <!-- Cedula Column -->
          <ng-container matColumnDef="Cedula">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CEDULA</th>
            <td mat-cell *matCellDef="let row">{{ row.cedula }}</td>
          </ng-container>

          <!-- Telefono Column -->
          <ng-container matColumnDef="Telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TELEFONO</th>
            <td mat-cell *matCellDef="let row">{{ row.telefono }}</td>
          </ng-container>

          <!-- FechaIngreso Column -->
          <ng-container matColumnDef="FechaIngreso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA INGRESO</th>
            <td mat-cell *matCellDef="let row">{{ row.fecha_ingreso }}</td>
          </ng-container>

          <!-- Vlr.Cuota Column -->
          <ng-container matColumnDef="VlrCuota">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>VLR. CUOTA</th>
            <td mat-cell *matCellDef="let row">
              {{ row.cuota_diaria }}
            </td>
          </ng-container>

          <!-- Nro.Cuotas Column -->
          <ng-container matColumnDef="NroCuotas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>N° CUOTAS</th>
            <td mat-cell *matCellDef="let row">{{ row.nro_entrega }}</td>
          </ng-container>

          <!-- Pagas Column -->
          <ng-container matColumnDef="NroPagas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PAGAS</th>
            <td mat-cell *matCellDef="let row">{{ row.nro_pago }}</td>
          </ng-container>

          <!-- Pendientes Column -->
          <ng-container matColumnDef="Pendientes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PENDIENTES</th>
            <td mat-cell *matCellDef="let row">{{ row.nro_saldo }}</td>
          </ng-container>

          <!-- Vence.Licencia Column -->
          <ng-container matColumnDef="VenceLicencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>VENCE LICENCIA</th>
            <td mat-cell *matCellDef="let row">{{ row.vce_licen }}</td>
          </ng-container>

          <!-- Contactos Column -->
          <ng-container matColumnDef="Contactos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CONTACTOS</th>
            <td mat-cell *matCellDef="let row">{{ row.contacto }} // {{ row.contacto1 }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (dblclick)="goToDriverResume(row.codigo)"
          ></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="15">
              <span *ngIf="input.value"
                >No se encontraron resultados para "{{ input.value }}"</span
              >
              <span *ngIf="!input.value">No hay datos disponibles</span>
            </td>
          </tr>
        </table>
      </div>

      <mat-paginator
        [pageSizeOptions]="[10, 20, 30, 40, 50, 100]"
        [pageSize]="10"
        [showFirstLastButtons]="true"
        aria-label="Selecciona la cantidad de registros por página"
      ></mat-paginator>
    </div>
  </div>
</div>
