.main-container{
  background-color: #630003;
  padding: 20px;
  color: white;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: baseline;
  justify-content: space-evenly;
}

.social-bar-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.icons-container{
  display: flex;
  gap: 20px;
}

.about-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.about-container a {
  text-decoration: none; /* Para quitar subrayado predeterminado */
  margin-bottom: 2px;
  border-bottom: 2px solid transparent; /* Línea inferior transparente */
  color: white;
  transition: border-bottom 0.15s ease; /* Transición suave */
  width: fit-content;
}

.about-container a h3 {
  margin-bottom: 3px; /* Ajusta el espacio entre la letra y la línea inferior */
}

.about-container a:hover {
  border-bottom: 2px solid white; /* Cambia el color de la línea inferior al hacer hover */
}

.about-container a.active {
  border-bottom: 2px solid white; /* Color de la línea inferior cuando está activo */
}
