<div class="main-container">
  <div class="social-bar-container">
      <h2>Follow Us</h2>
      <!-- <div class="icons-container">
        <div class="social-icon">
          <img src="../../../assets/icons/IconWhatsappWhite.svg" alt="WhatsApp Icon">
        </div>
        <div class="social-icon">
          <img src="../../../assets/icons/IconFacebookWhite.svg" alt="Facebook Icon">
        </div>
        <div class="social-icon">
          <img src="../../../assets/icons/IconInstagramWhite.svg" alt="Instagram Icon">
        </div>
      </div> -->
  </div>
  <div class="about-container">
    <h2>About Us</h2>
    <a routerLink="/about" routerLinkActive="active" ><h3>Nosotros</h3></a>
    <a routerLink="/home/shop" routerLinkActive="active" ><h3>Productos</h3></a>
    <a routerLink="/home/caps" routerLinkActive="active" ><h3>Gorras</h3></a>
    <a routerLink="/home/watchs" routerLinkActive="active" ><h3>Relojes</h3></a>
  </div>
  <div class="contact-container">
    <h2>Contact Us</h2>
    <p>AlfaSoft&#64;gmail.com</p>
    <p>1234567896</p>
  </div>
</div>