.main-container{
  background-color: #002B65;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-right: 5px;
}

.alfa-logo {
  display: flex;
}

.alfa-logo h2 {
  justify-content: center;
}

.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact-container h3 {
  margin: 0;
  margin-bottom: 1vh;
  cursor: pointer;
}

.contact-container h3:hover {
  text-decoration: underline;
}

.contact-container p {
  margin-top: 1vh;
}