<app-header></app-header>
<div class="report-container">
  <li class="report">
    <a>
      <!-- <img src="../../../../assets/icons/10.svg" class="report-icon"> -->
      <span class="report-text">Informe resumen de vehículos</span>
    </a>
  </li>
  <li class="report">
    <a>
      <!-- <img src="../../../../assets/icons/10.svg" class="report-icon"> -->
      <span class="report-text">Informe detalle de vehículos</span>
    </a>
  </li>
  <li class="report">
    <a>
      <!-- <img src="../../../../assets/icons/10.svg" class="report-icon"> -->
      <span class="report-text">Informe unidades por empresa</span>
    </a>
  </li>
  <li class="report home" routerLink="/home">
    <a>
      <!-- <img src="../../../../assets/icons/10.svg" class="report-icon"> -->
      <span class="report-text">Regresar al inicio</span>
    </a>
  </li>
</div>