.report-container {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 40px; */
  margin: 10px;
}

.report{
  width: 40%; /* 33.33% para 3 elementos por fila, ajustando el margen */
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff; /* Fondo claro por defecto, ajustable */
  border-radius: 10px; /* Bordes redondeados */
  padding: 30px;
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  text-align: center; /* Texto centrado */
  flex-direction: column; /* Ícono sobre el texto */
  cursor: pointer;
}

.report:hover {
  background: #fff8b4; 
}

.select-owner {
  width: 40%; /* Cambia el ancho al 100% para que ocupe todo el contenedor padre */
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* Añade esta clase para que el <select> ocupe todo el ancho disponible */
.full-width {
  width: 100%; /* Asegura que el <select> ocupe todo el ancho del contenedor */
  padding: 10px; /* Ajuste de padding para mejor apariencia */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  border: 1px solid #ccc; /* Borde ligero para mejor visibilidad */
  border-radius: 5px; /* Bordes ligeramente redondeados */
  background-color: #f9f9f9; /* Fondo claro */
}


.home:hover {
  background: #ffcdcd; 
}

.report-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.report-text {
  font-size: 20px; /* Ajuste según necesidad */
  color: #333; /* Color del texto */
}
