<app-header></app-header>
<div class="report-container">
  <h1>{{ selectedOption ? titles[selectedOption] : 'Informes estados de flota' }}</h1>
  <li class="report" *ngIf="!selectedOption" (click)="selectOption('summary')">
    <a>
      <span class="report-text">Informe Resumen De Vehículos</span>
    </a>
  </li>
  
  <li class="report" *ngIf="selectedOption === 'summary' && !showCompanySelect" (click)="openExternalLink(selectedOption, 'general')">
    <a>
      <span class="report-text">General</span>
    </a>
  </li>
  
  <li class="report" *ngIf="selectedOption === 'summary' && !showCompanySelect" (click)="selectCompanyOption()">
    <a>
      <span class="report-text">Por Empresa</span>
    </a>
  </li>
  
  <li class="select-owner" *ngIf="showCompanySelect && selectedOption === 'summary'">
    <select (change)="onCompanyChange($event)" class="full-width">
      <option *ngFor="let owner of owners" [value]="owner.id">{{ owner.id }} - {{ owner.name }}</option>
    </select>
  </li>

  <li class="report" *ngIf="!selectedOption" (click)="selectOption('detail')">
    <a>
      <span class="report-text">Informe Detalle De Vehículos</span>
    </a>
  </li>
  <li class="report" *ngIf="selectedOption === 'detail' && !showCompanySelect"  (click)="openExternalLink(selectedOption, 'general')">
    <a>
      <span class="report-text">General</span>
    </a>
  </li>
  <li class="report" *ngIf="selectedOption === 'detail' && !showCompanySelect" (click)="selectCompanyOption()">
    <a>
      <span class="report-text">Por Empresa</span>
    </a>
  </li>
  
  <li class="select-owner" *ngIf="showCompanySelect && selectedOption === 'detail'">
    <select (change)="onCompanyChange($event)" class="full-width">
      <option *ngFor="let owner of owners" [value]="owner.id">{{ owner.id }} - {{ owner.name }}</option>
    </select>
  </li>

  <li class="report" *ngIf="!selectedOption" (click)="selectOption('company-units')">
    <a>
      <span class="report-text">Relación Unidad/Estado Empresa</span>
    </a>
  </li>

  <li class="report" *ngIf="selectedOption === 'company-units' && !showCompanySelect" (click)="openExternalLink(selectedOption, 'general')">
    <a>
      <span class="report-text">General</span>
    </a>
  </li>
  <li class="report" *ngIf="selectedOption === 'company-units' && !showCompanySelect" (click)="selectCompanyOption()">
    <a>
      <span class="report-text">Por Empresa</span>
    </a>
  </li>
  <li class="select-owner" *ngIf="showCompanySelect && selectedOption === 'company-units'">
    <select (change)="onCompanyChange($event)" class="full-width">
      <option *ngFor="let owner of owners" [value]="owner.id">{{ owner.id }} - {{ owner.name }}</option>
    </select>
  </li>
  <li class="report home" *ngIf="selectedOption" (click)="selectOption('return')">
    <a>
      <span class="report-text">Regresar</span>
    </a>
  </li>
  <li class="report home" *ngIf="!selectedOption" routerLink="/home">
    <a>
      <span class="report-text">Regresar Al Inicio</span>
    </a>
  </li>
</div>