<app-header></app-header>
<!-- <body> -->
  <div class="container">
    <div class="carousel-container">
      <div class="carousel">
        <div class="left-container" *ngIf="!infoCompanyVisible">
          <a class="alternate-media" (click)="changeVideoState()">
            <img [src]="this.rightIcon" class="media-icon">
          </a>
        </div>
        <img class="media-container" *ngIf="changeVideo" [src]="images[currentImageIndex]" [style.opacity]="showImage ? '1' : '0'">
        <video #videoPlayer *ngIf="!changeVideo" [src]="currentVideo" (ended)="onVideoEnded()" autoplay></video>
        <div class="right-container" *ngIf="!infoCompanyVisible">
          <a class="alternate-media" (click)="changeVideoState()">
            <img [src]="this.rightIcon" class="media-icon">
          </a>
        </div>
      </div>
    </div>
    <div class="options-container">
      <ul>
        <!-- ng-container para aplicar ngIf sin afectar el layout -->
        <ng-container *ngFor="let option of options">
          <button class="options-if" *ngIf="option.enabled"  [routerLink]="option.url" [disabled]="option.disabled">
            <a>
              <img [src]="option.icon" class="option-icon">
              <span class="option-text">{{ option.name }}</span>
            </a>
          </button>
        </ng-container>
        <button class="option" type="button" *ngIf="this.isAdmin" [routerLink]="['/home/owners']">
          <span class="material-symbols-outlined" translate="no">
            apartment
          </span>
          <p class="option-text">Inicio de Propietarios</p>
        </button>
      </ul>
    </div>  
  </div>
<!-- </body> -->
<app-footer></app-footer>

<!-- ------------------------------------------------------ -->

<!-- <div class="cards-container">

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/10.svg" alt="Option Logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Caja</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/8.svg" alt="Option Logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Operaciones</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/9.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Cobros</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/11.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Trámites</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/12.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Almacén</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/14.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Taller</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/15.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Chapistería</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/17.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Llavero</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/18.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Cartera</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/19.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Tabla</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/21.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Gerencia</h1>
    </div>
  </div>

  <div class="main-container" href="/hoalalalal">
    <div class="image-container">
      <img src="../../../../assets/icons/logout.svg" alt="Option logo">
    </div>
    <div class="name-container">
      <h1 class="option-name">Cerrar sesión</h1>
    </div>
  </div>
</div> -->