.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* padding: 10vh ; */
  padding: 10vh 5vh 0vh 5vh;
  gap: 20px;
  user-select: none;
}

/* Contenedor principal del carrusel */
.carousel-container {
  padding-top: 10px;
  width: 100%;
  height: 425px;  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; /* Añadir posición relativa al contenedor principal */
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Añadir posición relativa para que el botón pueda posicionarse dentro del carousel */
}

.right-container {
  position: absolute;
  background: #ffffff5e;
  border-radius: 10px;
  cursor: pointer;
  bottom: 45%; /* Ajusta la distancia desde la parte inferior */
  right: 10px; /* Ajusta la distancia desde la parte derecha */
  z-index: 10; /* Asegura que el botón esté por encima del video */
}

.left-container {
  position: absolute;
  background: #ffffff5e;
  border-radius: 10px;
  cursor: pointer;
  bottom: 45%; /* Ajusta la distancia desde la parte inferior */
  left: 10px; /* Ajusta la distancia desde la parte derecha */
  z-index: 10; /* Asegura que el botón esté por encima del video */
}

.alternate-media:hover {
  background: #ffffff71; /* Cambia el color de fondo al pasar el ratón */
  border-radius: 10px; /* Ajusta los bordes redondeados al pasar el ratón */
}

.alternate-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container .media-icon {
  transform: scaleX(-1);
}

.media-icon {
  padding: 5px;
  width: 25px; /* Ajusta el tamaño del ícono según sea necesario */
  height: 25px; /* Ajusta el tamaño del ícono según sea necesario */
}


/* Estilos específicos para cada imagen en el carrusel */
.carousel .media-container {
  width: 100%;                          /* Hace que la imagen ocupe el 100% del ancho del contenedor. */
  height: 100%;                     /* Asegura que la altura no exceda la del contenedor. */
  opacity: 0;                           /* Inicialmente las imágenes son invisibles (para transiciones). */
  transition: opacity 1s ease-in-out;   /* Transiciones suaves de opacidad al cambiar imágenes. */
  object-fit: inherit;                  /* Mantiene la relación de aspecto de la imagen sin cortarla. */
  border-radius: 5px;                  /* Aplica bordes redondeados a las imágenes. */
}

.options-container {
  width: 100%;
  height: 300px; /* Altura ajustable según tu diseño */
}

.options-container a {
  text-decoration: none; /* Elimina el subrayado de todos los enlaces dentro del options-container */
  color: inherit; /* Hace que el color del enlace herede el color de su contenedor padre, útil si más tarde decides cambiar los colores globalmente */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Flexbox para un mejor control del layout */
  flex-wrap: wrap; /* Permite elementos de lista envolvente */
  justify-content: center; /* Centra los elementos horizontalmente */
}

.options-if{
  width: calc(33.33% - 20px); /* 33.33% para 3 elementos por fila, ajustando el margen */
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff; /* Fondo claro por defecto, ajustable */
  /* border: 1px solid #ccc; */
  border: 1px solid #888;
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px;
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  text-align: center; /* Texto centrado */
  flex-direction: column; /* Ícono sobre el texto */
  cursor: pointer;
}

.options-if:hover {
  /* background: #fff8b4;  */
  background: #bcd1ec;
  /* background: #c9c9c9; */
}

.options-if:disabled {
  background: #e0e0e0;
  color: #888;
  cursor: not-allowed;
  border-color: #aaa;
}

.option-icon {
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}

.option {
  height: 6vh;
  margin: 6px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #888;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 15px;
  position: relative;  /* Permite posicionamiento absoluto de elementos hijos */
}

.option span.material-symbols-outlined {
  margin-right: 10px;  /* Empuja el icono a la izquierda */
  font-size: 3.5vh;
}

.option:hover {
  background: #bcd1ec;
}


.option-text {
  font-size: 16px; /* Ajuste según necesidad */
  color: #333; /* Color del texto */
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout{
  width: 30%; /* 33.33% para 3 elementos por fila, ajustando el margen */
  margin: 10px;
  box-sizing: border-box;
  background: #ffffff; /* Fondo claro por defecto, ajustable */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px;
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  text-align: center; /* Texto centrado */
  flex-direction: column; /* Ícono sobre el texto */
  cursor: pointer;
}

.logout:hover {
  background: #ffcdcd; 
}

.logout-icon {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}

.logout-text {
  font-size: 16px; /* Ajuste según necesidad */
  color: #333; /* Color del texto */
}

@media (max-width: 580px) {
  .carousel-container {
    display: none;
  }

  .container {
    padding: 2vh 5vh;
    height: 100%
  }
}


/*------------------------------------------------------*/

/*
.cards-container{
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  /* background-color: #FDF7DF; *//*
  background-color: #C0CBE1;
}

.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 25px;
  background-color: #ffffff;
  cursor: pointer; /* Cambia el cursor al pasar el ratón *//*
}

.main-container:hover {
  background-color: #e6e6e6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); /* Agrega una sombra al pasar el ratón *//*
}

.image-container {
  width: 100%;
  height: 200px; /* Altura fija *//*
  border-radius: 30px;
  overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor *//*
  display: flex; /* Utiliza flexbox *//*
  justify-content: center; /* Centra horizontalmente *//*
  align-items: center; /* Centra verticalmente *//*
}

.image-container img {
  width: 60%;
  height: 60%;
  object-fit: contain; /* Mantiene la relación de aspecto *//*
}

.option-name {
  font-size: 24px;
  margin: 0 0;
  text-align: center;
}*/