<!-- <app-header></app-header> -->
<div class="main-container">
  <h1>Informe de Cuotas Pagas</h1>

  <!-- EMPRESAS -->
  <!-- -------------------------------------------------------------------------- -->
  <div class="option" *ngIf="!mostrarOpcionesEstados && !isLoading">
    <button class="select" type="button" [class.selected]="selectedEmpresasOptions['empresas']" (click)="toggleOpcionesEmpresas()">
      <p class="select-text">Seleccionar Empresas</p>
    </button>
    <div *ngIf="mostrarOpcionesEmpresas" class="cuadro-seleccion">
      <div *ngFor="let opcion of owners" class="checkbox-container" (click)="onCheckboxEmpresaContainerClick(opcion.id, $event)">
        <input type="checkbox" [id]="opcion.id" [value]="opcion.id" 
                [checked]="isEmpresaSeleccionada(opcion.id)" 
                (change)="onCheckboxEmpresaChange(opcion.id, $event)">
        <label [for]="opcion.id">{{ opcion.name }} - {{ opcion.id }}</label>
      </div>
    </div>

    <!-- MOSTRAR POR CÓDIGO -->
    <!-- <div class="option" *ngIf="!mostrarOpcionesPorNombre && mostrarOpcionesEmpresas">
      <li class="select" [class.selected]="selectedEmpresasOptions['codigo']" (click)="toggleOpcionesPorCodigo()">
        <a>
          <span class="select-text">Seleccionar por Código</span>
        </a>
      </li>
      <div *ngIf="mostrarOpcionesPorCodigo" class="cuadro-seleccion">
        <div *ngFor="let opcion of owners" class="checkbox-container" (click)="onCheckboxEmpresaContainerClick(opcion.id, $event)">
          <input type="checkbox" [id]="opcion.id" [value]="opcion.id" 
                  [checked]="isEmpresaSeleccionada(opcion.id)" 
                  (change)="onCheckboxEmpresaChange(opcion.id, $event)">
          <label [for]="opcion.id">{{ opcion.id }} - {{ opcion.name }}</label>
        </div>
      </div>
    </div> -->
    
    <!-- MOSTRAR POR NOMBRE -->
    <!-- <div class="option" *ngIf="!mostrarOpcionesPorCodigo && mostrarOpcionesEmpresas">
      <li class="select" [class.selected]="selectedEmpresasOptions['nombre']" (click)="toggleOpcionesPorNombre()">
        <a>
          <span class="select-text">Seleccionar por Nombre</span>
        </a>
      </li>
      <div *ngIf="mostrarOpcionesPorNombre" class="cuadro-seleccion">
        <div *ngFor="let opcion of owners" class="checkbox-container" (click)="onCheckboxEmpresaContainerClick(opcion.id, $event)">
          <input type="checkbox" [id]="opcion.id" [value]="opcion.id" 
                  [checked]="isEmpresaSeleccionada(opcion.id)" 
                  (change)="onCheckboxEmpresaChange(opcion.id, $event)">
          <label [for]="opcion.id">{{ opcion.name }} - {{ opcion.id }}</label>
        </div>
      </div>
    </div> -->
  </div>

  <!-- ACEPTAR POR NOMBRE Y CÓDIGO -->
  <!-- <div class="option" *ngIf="(mostrarOpcionesPorCodigo || mostrarOpcionesPorNombre) && mostrarOpcionesEmpresas">
    <li class="select" (click)="onEmpresaSeleccionar()">
      <a>
        <span class="select-text">Aceptar Empresas</span>
      </a>
    </li>
  </div> -->

  <div class="option" *ngIf="mostrarOpcionesEmpresas">
    <button class="select" type="button" (click)="onEmpresaSeleccionar()">
      <p class="select-text">Aceptar Empresas</p>
    </button>
  </div>
  <!-- -------------------------------------------------------------------------- -->

  <!-- ESTADOS -->
  <!-- -------------------------------------------------------------------------- -->
  <div class="option" *ngIf="!mostrarOpcionesEmpresas && !isLoading">
    <button class="select" type="button" [class.selected]="selectedEstadosOptions['estados']" (click)="toggleOpcionesEstados()">
      <p class="select-text">Seleccionar Estados</p>
    </button>
    <div *ngIf="mostrarOpcionesEstados" class="cuadro-seleccion">
      <div *ngFor="let opcion of states" class="checkbox-container" (click)="onCheckboxEstadoContainerClick(opcion.id, $event)">
        <input type="checkbox" [id]="opcion.id" [value]="opcion.id" 
                [checked]="isEstadoSeleccionado(opcion.id)" 
                (change)="onCheckboxEstadoChange(opcion.id, $event)">
        <label [for]="opcion.id">{{ opcion.name }}</label>
      </div>
    </div>
  </div>

  <div class="option" *ngIf="mostrarOpcionesEstados !isLoading">
    <button class="select" type="button" (click)="onEstadoSeleccionar()">
      <p class="select-text">Aceptar Estados</p>
    </button>
  </div>
  <!-- -------------------------------------------------------------------------- -->

  <!-- GENERAR INFORME -->
  <!-- -------------------------------------------------------------------------- -->
  <div class="option" *ngIf="!mostrarOpcionesEstados && !mostrarOpcionesEmpresas && !isLoading">
    <button class="select" type="button"(click)="generarInforme()">
      <p class="select-text">Generar Informe</p>
    </button>
  </div>
  <!-- -------------------------------------------------------------------------- -->

  <!-- REGRESAR -->
  <!-- -------------------------------------------------------------------------- -->
  <button class="select home" type="button" *ngIf="mostrarOpcionesEstados || mostrarOpcionesEmpresas && !isLoading" (click)="backOptions()">
    <p class="select-text">Regresar</p>
  </button>
  
  <!-- -------------------------------------------------------------------------- -->

  <!-- REGRESAR AL INICIO -->
  <!-- -------------------------------------------------------------------------- -->
  <button class="select home" type="button" *ngIf="!mostrarOpcionesEstados && !mostrarOpcionesEmpresas && !isLoading" routerLink="/home/users">
    <p class="select-text">Regresar Al Inicio</p>
  </button>
  <!-- -------------------------------------------------------------------------- -->

  <!-- <p>Empresas seleccionadas: {{ empresasSeleccionadas.join(', ') }}</p>
  <p>Estados seleccionadas: {{ estadosSeleccionados.join(', ') }}</p> -->
  <div class="loading-container" *ngIf="isLoading">
    <p>Generando informe, por favor espere...</p>
  </div>
</div>
<!-- <app-footer></app-footer> -->