<h2 mat-dialog-title>Cambiar de Patio a un Vehículo</h2>
<mat-divider></mat-divider>
<mat-dialog-content *ngIf="isLoadingVehicles">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoadingVehicles"
  ></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-content class="scrollable-content" *ngIf="!isLoadingVehicles">
  <div class="vehicle-info">
    <mat-form-field class="form-field">
      <mat-label>Vehículo</mat-label>
      <input
        type="text"
        placeholder="Selecciona uno"
        matInput
        [formControl]="vehicles"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (opened)="resetAutocomplete()"
        (optionSelected)="vehicleSearch($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.unidad"
        >
          {{ option.unidad }} - {{ option.placa }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-progress-bar class="loading-bar" mode="indeterminate" *ngIf="isLoadingVehicleInfo"></mat-progress-bar>

    <table class="info-table" *ngIf="!isLoadingVehicleInfo && selectedVehicle">
      <tbody>
        <tr>
          <td class="info-header">Unidad</td>
          <td class="info-data">{{ vehicleData.numero }}</td>
        </tr>
        <tr>
          <td class="info-header">Marca</td>
          <td class="info-data">{{ vehicleData.marca }}</td>
        </tr>
        <tr>
          <td class="info-header">Placa</td>
          <td class="info-data">{{ vehicleData.placa }}</td>
        </tr>
        <tr>
          <td class="info-header">Cupo N°</td>
          <td class="info-data">{{ vehicleData.cupo }} {{ vehicleData.con_cupo }}</td>
        </tr>
        <tr>
          <td class="info-header">N° de Cuotas</td>
          <td class="info-data">{{ vehicleData.nro_entrega }}</td>
        </tr>
        <tr>
          <td class="info-header">Valor Cuota</td>
          <td class="info-data">{{ vehicleData.cuota_diaria}}</td>
        </tr>
        <tr>
          <td class="info-header">Estado</td>
          <td class="info-data">{{ vehicleData.estado }}</td>
        </tr>
        <tr>
          <td class="info-header">Propietario</td>
          <td class="info-data"> {{ vehicleData.propietario }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-divider class="mobile"></mat-divider>

  <div class="driver-info" *ngIf="!isLoadingVehicleInfo && selectedVehicle">
    <mat-form-field class="form-field">
      <mat-label>Conductor</mat-label>
      <input type="text"
             matInput
             [formControl]="drivers"
             >
    </mat-form-field>

    <table class="info-table">
      <tbody>
        <tr>
          <td class="info-header">Nombre</td>
          <td class="info-data">{{ driverData.nombre }}</td>
        </tr>
        <tr>
          <td class="info-header">N° CC</td>
          <td class="info-data">{{ driverData.cedula }}</td>
        </tr>
        <tr>
          <td class="info-header">Celular</td>
          <td class="info-data">{{ driverData.telefono }}</td>
        </tr>
        <tr>
          <td class="info-header">Dirección</td>
          <td class="info-data">{{ driverData.direccion }}</td>
        </tr>
        <tr>
          <td class="info-header">Licencia</td>
          <td class="info-data">{{ driverData.licencia_numero }}</td>
        </tr>
        <tr>
          <td class="info-header">Vencimiento Licencia</td>
          <td class="info-data">{{ driverData.licencia_vencimiento }}</td>
        </tr>
      </tbody>
    </table>

    <mat-divider></mat-divider>

    <!-- <div class="date-message" *ngIf="contractInfo.permitido !== null && contractInfo.permitido !== undefined">
      <p class="message" *ngIf="contractInfo.permitido === 1">
        <strong class="message-strong">NO PERMITIDO:</strong> {{ contractInfo.mensaje }}.
      </p>

      <mat-form-field class="form-field date-form" (click)="datepicker.open()" *ngIf="contractInfo.permitido === 0">
        <input
          matInput
          placeholder="Selecciona una fecha inicial"
          [matDatepicker]="datepicker"
          [formControl]="selectedDate"
          [max]="maxDate"
          required
          readonly
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
      <mat-error *ngIf="selectedDate.invalid && selectedDate.touched">
        Debes seleccionar una fecha.
      </mat-error>
    </div> -->
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial disabled>Confirmar</button>
</mat-dialog-actions>
