<h2 mat-dialog-title>Cambiar de Patio a un Vehículo</h2>
<mat-divider></mat-divider>
<mat-dialog-content *ngIf="isLoadingVehicles || isLoadingChange">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-content
  class="scrollable-content"
  *ngIf="!isLoadingVehicles && !isLoadingChange"
>
  <div class="vehicle-info">
    <mat-form-field class="form-field">
      <mat-label>Vehículo</mat-label>
      <input
        type="text"
        placeholder="Selecciona uno"
        matInput
        [formControl]="vehicles"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (opened)="resetAutocomplete(1)"
        (optionSelected)="vehicleSearch($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.unidad"
        >
          {{ option.unidad }} - {{ option.placa }} - {{ option.nro_cupo }} -
          {{ option.propietario }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-progress-bar
      class="loading-bar"
      mode="indeterminate"
      *ngIf="isLoadingVehicleInfo"
    ></mat-progress-bar>

    <table class="info-table" *ngIf="!isLoadingVehicleInfo && selectedVehicle">
      <tbody>
        <tr>
          <td class="info-header">Unidad</td>
          <td class="info-data">{{ vehicleData.numero }}</td>
        </tr>
        <tr>
          <td class="info-header">Marca</td>
          <td class="info-data">{{ vehicleData.marca }}</td>
        </tr>
        <tr>
          <td class="info-header">Placa</td>
          <td class="info-data">{{ vehicleData.placa }}</td>
        </tr>
        <tr>
          <td class="info-header">Cupo N°</td>
          <td class="info-data">
            {{ vehicleData.cupo }} {{ vehicleData.con_cupo }}
          </td>
        </tr>
        <tr>
          <td class="info-header">N° de Cuotas</td>
          <td class="info-data">{{ vehicleData.nro_entrega }}</td>
        </tr>
        <tr>
          <td class="info-header">Valor Cuota</td>
          <td class="info-data">{{ vehicleData.cuota_diaria }}</td>
        </tr>
        <tr>
          <td class="info-header">Estado</td>
          <td class="info-data">{{ vehicleData.estado }}</td>
        </tr>
        <tr>
          <td class="info-header">Propietario</td>
          <td class="info-data">{{ vehicleData.propietario }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-divider class="mobile"></mat-divider>

  <div class="driver-info" *ngIf="!isLoadingVehicleInfo && selectedVehicle">
    <mat-form-field class="form-field">
      <mat-label>Conductor</mat-label>
      <input type="text" matInput [formControl]="drivers" />
    </mat-form-field>

    <table class="info-table">
      <tbody>
        <tr>
          <td class="info-header">Nombre</td>
          <td class="info-data">{{ driverData.nombre }}</td>
        </tr>
        <tr>
          <td class="info-header">N° CC</td>
          <td class="info-data">{{ driverData.cedula }}</td>
        </tr>
        <tr>
          <td class="info-header">Celular</td>
          <td class="info-data">{{ driverData.telefono }}</td>
        </tr>
        <tr>
          <td class="info-header">Dirección</td>
          <td class="info-data">{{ driverData.direccion }}</td>
        </tr>
        <tr>
          <td class="info-header">Licencia</td>
          <td class="info-data">{{ driverData.licencia_numero }}</td>
        </tr>
        <tr>
          <td class="info-header">Vencimiento Licencia</td>
          <td class="info-data">{{ driverData.licencia_vencimiento }}</td>
        </tr>
      </tbody>
    </table>

    <mat-divider></mat-divider>

    <form class="info-select" [formGroup]="infoChangeYard">
      <!-- <mat-error
        *ngIf="
          infoChangeYard.get('oldYard')?.hasError('required') &&
          infoChangeYard.get('oldYard')?.touched
        "
      >
        El patio es obligatorio
      </mat-error> -->
      <!-- <mat-error
        *ngIf="infoChangeYard.get('state')?.hasError('sameAsCurrent')"
      >
        No puedes seleccionar el mismo estado actual.
      </mat-error> -->
      <mat-form-field class="form-field">
        <mat-label>Patio Actual</mat-label>
        <input
          type="text"
          matInput
          formControlName="oldYard"
          [matAutocomplete]="autoYard"
          readonly
        />

        <mat-autocomplete
          #autoYard="matAutocomplete"
          [displayWith]="displayAutocomplete"
        >
          <mat-option
            *ngFor="let option of filteredYardsOptions | async"
            [value]="option"
          >
            {{ option.id }} - {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-error
        *ngIf="
          infoChangeYard.get('yard')?.hasError('required') &&
          infoChangeYard.get('yard')?.touched
        "
      >
        El patio es obligatorio
      </mat-error>

      <mat-error *ngIf="infoChangeYard.get('yard')?.hasError('sameAsCurrent')">
        No puedes seleccionar el mismo patio actual.
      </mat-error>
      <mat-form-field class="form-field">
        <mat-label>Patio nuevo</mat-label>
        <input
          type="text"
          placeholder="Selecciona un patio"
          aria-label="Patio nuevo"
          matInput
          formControlName="yard"
          [matAutocomplete]="autoYardNew"
          required
        />

        <mat-autocomplete
          #autoYardNew="matAutocomplete"
          (opened)="resetAutocomplete(2)"
          [displayWith]="displayAutocomplete"
        >
          <mat-option
            *ngFor="let option of filteredYardsOptions | async"
            [value]="option"
          >
            {{ option.id }} - {{ option.name }}
          </mat-option>
        </mat-autocomplete>

        <!-- <mat-error *ngIf="infoChangeYard.get('yard')?.hasError('required') && infoChangeYard.get('yard')?.touched">
          El patio es obligatorio
        </mat-error> -->
      </mat-form-field>

      <mat-error
        *ngIf="
          infoChangeYard.get('description')?.hasError('required') &&
          infoChangeYard.get('description')?.touched
        "
      >
        La descripción es obligatoria
      </mat-error>
      <mat-form-field class="text-area">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-button
    cdkFocusInitial
    [disabled]="
      !selectedVehicle ||
      isLoadingVehicleInfo ||
      isLoadingChange ||
      infoChangeYard.invalid
    "
    (click)="openConfirmationDialog()"
  >
    Confirmar
  </button>
</mat-dialog-actions>
