<app-header></app-header>
<div class="container">
  <h1>UTILIDADES</h1>
  <!-- <a class="option">
    <span class="material-symbols-outlined">
      info
    </span>
    <span class="option-text">Estado Trámite</span>
  </a> -->
  <div class="sections-container">
    
    <div class="section-container">
      <h2>TABLAS</h2>
      <div class="options-container">
        <ng-container *ngFor="let option of tablas">
          <a class="option" [href]="option.url">
            <span class="material-symbols-outlined">
              {{ option.icon }}
            </span>
            <span class="option-text">{{ option.name }}</span>
          </a>
        </ng-container>
      </div>
    </div>

    <div class="two-container">
      <div class="section-container">
        <h2>UTILIDADES</h2>
        <div class="options-container">
          <ng-container *ngFor="let option of utilidades">
            <a class="option" [href]="option.url">
              <span class="material-symbols-outlined">
                {{ option.icon }}
              </span>
              <span class="option-text">{{ option.name }}</span>
            </a>
          </ng-container>
        </div>
      </div>
  
      <div class="section-container">
        <h2>SEGURIDAD</h2>
        <div class="options-container">
          <ng-container *ngFor="let option of seguridad">
            <a class="option" [href]="option.url">
              <span class="material-symbols-outlined">
                {{ option.icon }}
              </span>
              <span class="option-text">{{ option.name }}</span>
            </a>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>