/* Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar-transparent {
  background-color: rgba(128, 128, 128, 0.5) !important; /* Gris transparente con un nivel de transparencia del 50% */
}

.navbar {
  background-color: rgba(128, 128, 128, 0.5) !important; /* Gris transparente con un nivel de transparencia del 50% */
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url('https://p4.wallpaperbetter.com/wallpaper/360/163/644/digital-art-abstract-shapes-lines-wallpaper-preview.jpg'); /* Cambia 'ruta_de_la_imagen.jpg' por la ruta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 20px;
}
.main-panel .navbar {
  margin-bottom: 0;
}

/* .navbar.navbar-transparent {
  padding-top: 10px;
   background-color: transparent !important;

  box-shadow: none;
} */

.navbar.navbar-absolute {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  z-index: 1029;
}

.navbar.fixed-top {
  border-radius: 0;
}

@media (max-width: 991px) {
  .navbar-transparent {
      padding-top: 15px;
      background-color: rgba(0, 0, 0, 0.45);
  }
}

.navbar {
  border: 0;
  border-radius: 3px;
  padding: 0.625rem 0;
  margin-bottom: 20px;
  color: #555;
  background-color: #fff !important;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-form {
  margin-right: 15px; /* Ajusta el margen derecho según sea necesario */
}

.input-group {
  border-radius: 30px; /* Ajusta el valor para redondear más o menos */
  overflow: hidden; /* Para ocultar los bordes redondeados del botón dentro del input */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Añade una sombra suave */
}

.form-control {
  border: none; /* Elimina el borde predeterminado */
  background-color: #f0f0f0; /* Color de fondo del input */
  border-radius: 30px; /* Ajusta el valor para redondear más o menos */
  padding: 5px 10px; /* Ajusta el relleno del input según sea necesario */
  margin-right: 5px; /* Ajusta el margen derecho del input según sea necesario */
}

.btn {
  border-radius: 30px; /* Ajusta el valor para redondear más o menos */
  background-color: #a6cffc; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 5px 15px; /* Ajusta el relleno del botón según sea necesario */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Añade una sombra suave */
}




html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
  box-sizing: border-box;
}

nav {
  display: block;
}
.logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.logo-icon {
  font-size: 48px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item .nav-link i {
  font-size: 24px; /* Ajusta el tamaño del ícono según sea necesario */
  color: black; /* Color del icono */
  border: 2px solid rgb(239, 237, 237); /* Borde gris */
  border-radius: 50%; /* Redondea el borde */
  padding: 5px; /* Ajusta el relleno según sea necesario */
}

.dropdown-menu {
  background-color: white; /* Fondo blanco */
  border: 5px; /* Sin borde */
  right: 80px; /* Alinea el menú desplegable más a la derecha */
}

.dropdown-item {
  background-color: rgba(237, 235, 235, 0.3); /* Fondo rojo claro transparente */
  border: 10px solid rgba(248, 246, 246, 0.5); /* Borde rojo claro */
  border-radius: 5px; /* Redondea los bordes de los elementos del menú */
  padding: 8px 15px; /* Ajusta el relleno según sea necesario */
  margin: 5px 0; /* Ajusta el margen superior e inferior según sea necesario */
}

.dropdown-item i {
  margin-right: 35px; /* Añade espacio entre el icono y el texto */
}

/* Agrega bordes redondos al botón de logout */
.logout-btn {
  border-radius: 5px; /* Ajusta el valor según lo deseado */
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); /* Ajusta la intensidad y el color de la sombra según lo deseado */
}
.logout-btn {
  font-weight: bold; /* Hace que el texto del botón sea negrita */
  text-align: center; /* Centra el texto del botón */
  font-size: 10px; /* Ajusta el tamaño del texto del botón */
  padding: 2px 6px; /* Ajusta el padding del botón */
  line-height: 0; /* Controla la altura de línea para posicionar el texto verticalmente */
}
.dropdown-menu p {
  font-weight: bold; /* Hace que el texto sea negrita */
  font-style: italic; /* Aplica estilo cursiva al texto */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Agrega un efecto de sombra al texto */
  text-align: center; /* Centra el texto */
}

/* Estilos para el menú desplegable */
.dropdown-menu {
  background-color: white; /* Fondo blanco */
  border-radius: 5px; /* Bordes redondeados */
  padding: 5px; /* Espaciado interno */
}

/* Estilos para los elementos del menú desplegable */
.dropdown-item {
  font-size: 14px; /* Tamaño de fuente más pequeño */
  text-align: center; /* Centrar texto */
  margin: 5px 0; /* Margen en la parte superior e inferior */
}
.logout-btn i.material-icons {
  font-size: 15px; /* Ajusta el tamaño del icono */
}
