<h2 mat-dialog-title>Cobros</h2>
<div class="dialog-header">
  <h3>Selecciona las empresas</h3>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="scrollable-content">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <mat-selection-list 
    #selectionList
    [@fadeInOut] 
    [@listAnimation]="owners.length"
    *ngIf="!isLoading">
    <mat-list-option 
      *ngFor="let owner of owners" 
      [value]="owner"
      [@fadeInOut]
      checkboxPosition="before">
      {{ owner.name }} - {{ owner.id }}
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button 
    mat-button 
    (click)="onConfirm()" 
    cdkFocusInitial
    [disabled]="isLoading">
    Confirmar
  </button>
</mat-dialog-actions> 