h2 {
  margin-bottom: 0;
}

.dialog-header {
  padding: 0 24px;
  background-color: white;
}

.scrollable-content {
  overflow-y: auto;
  padding: 0px 14px;
}

/* TODO: APLICARLE ESTO A LOS CHECKBOX */
 /* {
  margin-right: 10px;
} */