<app-header></app-header>
<div class="container">
  <h1>ALMACÉN</h1>

  <div class="sections-container">
    
    <div class="two-container">
      <div class="section-container">
        <h2>CONTEOS ALEATORIOS</h2>
        <div class="options-container">
          <ng-container *ngFor="let option of conteos_aleatorios">
            <button class="option" type="button" [routerLink]="option.url" [disabled]="option.disabled">
              <span class="material-symbols-outlined" translate="no">
                {{ option.icon }}
              </span>
              <p class="option-text">{{ option.name }}</p>
            </button>
          </ng-container>
        </div>
      </div>

      <div class="section-container">
        <h2>MOVIMIENTOS</h2>
        <div class="options-container">
          <ng-container *ngFor="let option of movimientos">
            <button class="option" type="button" [routerLink]="option.url" [disabled]="option.disabled">
              <span class="material-symbols-outlined" translate="no">
                {{ option.icon }}
              </span>
              <p class="option-text">{{ option.name }}</p>
            </button>
          </ng-container>
        </div>
      </div>

    </div>

    <div class="two-container">
      <div class="section-container">
        <h2>INVENTARIO FÍSICO</h2>
        <div class="options-container">
          <ng-container *ngFor="let option of inventario_fisico">
            <button class="option" type="button" [routerLink]="option.url" [disabled]="option.disabled">
              <span class="material-symbols-outlined" translate="no">
                {{ option.icon }}
              </span>
              <p class="option-text">{{ option.name }}</p>
            </button>
          </ng-container>
        </div>
      </div>

      <div class="section-container">
        <h2>ESPECIALES</h2>
        <div class="options-container">
          <ng-container *ngFor="let option of especiales">
            <button class="option" type="button" [routerLink]="option.url" [disabled]="option.disabled">
              <span class="material-symbols-outlined" translate="no">
                {{ option.icon }}
              </span>
              <p class="option-text">{{ option.name }}</p>
            </button>
          </ng-container>
        </div>
      </div>

      <div class="section-container">
        <h2>CONSULTAS</h2>
        <div class="options-container">
          <ng-container *ngFor="let option of consultas">
            <button class="option" type="button" [routerLink]="option.url" [disabled]="option.disabled">
              <span class="material-symbols-outlined" translate="no">
                {{ option.icon }}
              </span>
              <p class="option-text">{{ option.name }}</p>
            </button>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="section-container">
      <h2>GENERALES</h2>
      <div class="options-container">
        <ng-container *ngFor="let option of generales">
          <button class="option" type="button" [routerLink]="option.url" [disabled]="option.disabled">
            <span class="material-symbols-outlined" translate="no">
              {{ option.icon }}
            </span>
            <p class="option-text">{{ option.name }}</p>
          </button>
        </ng-container>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>