::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  overflow-y: auto;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content {
  max-height: 70vh;
  overflow-y: auto;
}

h2 {
  margin-bottom: 0;
}

.dialog-header {
  padding: 0;
  background-color: white;
}

.scrollable-content {
  display: flex;
  padding: 0;
  margin-top: 0;
  gap: 20px;
  overflow: visible;
}

.vehicle-info,
.driver-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vehicle-info .form-field,
.driver-info .form-field {
  height: 48px;
  width: 100%;
}

::ng-deep .form-field .mat-mdc-form-field-flex {
  height: 100%;
  align-items: center;
}

::ng-deep .form-field .mat-mdc-icon-button {
  transform: scale(1);
}

.vehicle-info mat-form-field,
.driver-info mat-form-field {
  margin-bottom: 10px;
}

.driver-info .date-form {
  margin-bottom: 0px;
}

.driver-info mat-error {
  font-size: 14px;
}

.vehicle-info
  ::ng-deep
  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align,
.driver-info
  ::ng-deep
  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none !important;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table td {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); /* Divisor estándar de Material */
}

/* Elimina el borde de la última fila */
.info-table tr:last-child td {
  border-bottom: none;
}

.info-header {
  font-weight: 500; /* Peso de fuente medio, común para etiquetas */
  color: rgba(0, 0, 0); /* Color de texto secundario de Material */
  padding-right: 32px; /* Espacio entre la etiqueta y el dato */
  white-space: nowrap;
}

.mobile {
  display: none;
}

.info-data {
  color: rgba(0, 0, 0, 0.87); /* Color de texto primario de Material */
  text-align: left;
}

.date-message {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  color: black;
}

.message-strong {
  color: red;
}

.message-strong-alert {
  color: orange;
}

.message-strong-green {
  color: green;
}

/* Responsive styles for screens smaller than 600px */
@media (max-width: 599px) {
  .scrollable-content {
    flex-direction: column;
    gap: 20px;
  }

  .mobile {
    display: block;
  }

  .loading-bar {
    padding: 16px 0;
  }

  /* Make table elements behave like blocks to stack them */
  .info-table,
  .info-table tbody,
  .info-table tr,
  .info-table td {
    display: block;
    width: 100%;
  }

  .info-table tr {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 16px;
  }

  .info-table tr:first-child {
    padding-top: 16px;
  }

  .info-table tr:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .driver-info .info-table tr:last-child {
    padding-bottom: 16px;
  }

  .vehicle-info mat-form-field,
  .driver-info mat-form-field {
    margin-bottom: 0px;
  }

  /* Remove padding and borders from individual cells */
  .info-table td {
    padding: 0;
    border: none;
  }

  .info-header {
    padding-bottom: 4px; /* Space between label and data */
  }

  .info-data {
    padding-left: 2px; /* Slight indent for the data */
  }
}
